openapi: 3.0.3
info:
  description: Sonarqube Community Edition WebApi specifications.
  title: Sonarqube OpenAPI specification
  version: 10.6.0.90190
servers:
- url: https://next.sonarqube.com/sonarqube/
paths:
  /api/alm_integrations/import_azure_project:
    post:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform configuration key. This parameter is optional
          if you have only one Azure integration.
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: Project New Code Definition Type<br/>New code definitions of
          the following types are allowed:<ul><li>PREVIOUS_VERSION</li><li>NUMBER_OF_DAYS</li><li>REFERENCE_BRANCH
          - will default to the main branch.</li></ul>
        in: query
        name: newCodeDefinitionType
        schema:
          type: string
      - allowEmptyValue: true
        description: Project New Code Definition Value<br/>For each new code definition
          type, a different value is expected:<ul><li>no value, when the new code
          definition type is PREVIOUS_VERSION and REFERENCE_BRANCH</li><li>a number
          between 1 and 90, when the new code definition type is NUMBER_OF_DAYS</li></ul>
        in: query
        name: newCodeDefinitionValue
        schema:
          type: string
      - allowEmptyValue: true
        description: Azure project name
        in: query
        name: projectName
        schema:
          type: string
      - allowEmptyValue: true
        description: Azure repository name
        in: query
        name: repositoryName
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to import_azure_project
  /api/alm_integrations/import_bitbucketcloud_repo:
    post:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform configuration key. This parameter is optional
          if you have only one BitBucket Cloud integration.
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: Project New Code Definition Type<br/>New code definitions of
          the following types are allowed:<ul><li>PREVIOUS_VERSION</li><li>NUMBER_OF_DAYS</li><li>REFERENCE_BRANCH
          - will default to the main branch.</li></ul>
        in: query
        name: newCodeDefinitionType
        schema:
          type: string
      - allowEmptyValue: true
        description: Project New Code Definition Value<br/>For each new code definition
          type, a different value is expected:<ul><li>no value, when the new code
          definition type is PREVIOUS_VERSION and REFERENCE_BRANCH</li><li>a number
          between 1 and 90, when the new code definition type is NUMBER_OF_DAYS</li></ul>
        in: query
        name: newCodeDefinitionValue
        schema:
          type: string
      - allowEmptyValue: true
        description: Bitbucket Cloud repository slug
        in: query
        name: repositorySlug
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to import_bitbucketcloud_repo
  /api/alm_integrations/import_bitbucketserver_project:
    post:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform configuration key. This parameter is optional
          if you have only one BitBucket Server integration.
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: Project New Code Definition Type<br/>New code definitions of
          the following types are allowed:<ul><li>PREVIOUS_VERSION</li><li>NUMBER_OF_DAYS</li><li>REFERENCE_BRANCH
          - will default to the main branch.</li></ul>
        in: query
        name: newCodeDefinitionType
        schema:
          type: string
      - allowEmptyValue: true
        description: Project New Code Definition Value<br/>For each new code definition
          type, a different value is expected:<ul><li>no value, when the new code
          definition type is PREVIOUS_VERSION and REFERENCE_BRANCH</li><li>a number
          between 1 and 90, when the new code definition type is NUMBER_OF_DAYS</li></ul>
        in: query
        name: newCodeDefinitionValue
        schema:
          type: string
      - allowEmptyValue: true
        description: BitbucketServer project key
        in: query
        name: projectKey
        schema:
          type: string
      - allowEmptyValue: true
        description: BitbucketServer repository slug
        in: query
        name: repositorySlug
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to import_bitbucketserver_project
  /api/alm_integrations/import_github_project:
    post:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform configuration key. This parameter is optional
          if you have only one GitHub integration.
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: Project New Code Definition Type<br/>New code definitions of
          the following types are allowed:<ul><li>PREVIOUS_VERSION</li><li>NUMBER_OF_DAYS</li><li>REFERENCE_BRANCH
          - will default to the main branch.</li></ul>
        in: query
        name: newCodeDefinitionType
        schema:
          type: string
      - allowEmptyValue: true
        description: Project New Code Definition Value<br/>For each new code definition
          type, a different value is expected:<ul><li>no value, when the new code
          definition type is PREVIOUS_VERSION and REFERENCE_BRANCH</li><li>a number
          between 1 and 90, when the new code definition type is NUMBER_OF_DAYS</li></ul>
        in: query
        name: newCodeDefinitionValue
        schema:
          type: string
      - allowEmptyValue: true
        description: GitHub repository key (organization/repoSlug
        in: query
        name: repositoryKey
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to import_github_project
  /api/alm_integrations/import_gitlab_project:
    post:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform configuration key. This parameter is optional
          if you have only one GitLab integration.
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: GitLab project ID
        in: query
        name: gitlabProjectId
        schema:
          type: string
      - allowEmptyValue: true
        description: Project New Code Definition Type<br/>New code definitions of
          the following types are allowed:<ul><li>PREVIOUS_VERSION</li><li>NUMBER_OF_DAYS</li><li>REFERENCE_BRANCH
          - will default to the main branch.</li></ul>
        in: query
        name: newCodeDefinitionType
        schema:
          type: string
      - allowEmptyValue: true
        description: Project New Code Definition Value<br/>For each new code definition
          type, a different value is expected:<ul><li>no value, when the new code
          definition type is PREVIOUS_VERSION and REFERENCE_BRANCH</li><li>a number
          between 1 and 90, when the new code definition type is NUMBER_OF_DAYS</li></ul>
        in: query
        name: newCodeDefinitionValue
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to import_gitlab_project
  /api/alm_integrations/list_azure_projects:
    get:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform setting key
        in: query
        name: almSetting
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to list_azure_projects
  /api/alm_integrations/list_bitbucketserver_projects:
    get:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform setting key
        in: query
        name: almSetting
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to list_bitbucketserver_projects
  /api/alm_integrations/search_azure_repos:
    get:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform setting key
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: Project name filter
        in: query
        name: projectName
        schema:
          type: string
      - allowEmptyValue: true
        description: Search query filter
        in: query
        name: searchQuery
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to search_azure_repos
  /api/alm_integrations/search_bitbucketcloud_repos:
    get:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform setting key
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: 1-based page number
        in: query
        name: p
        schema:
          type: string
      - allowEmptyValue: true
        description: Page size. Must be greater than 0 and less or equal than 100
        in: query
        name: ps
        schema:
          type: string
      - allowEmptyValue: true
        description: Repository name filter
        in: query
        name: repositoryName
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to search_bitbucketcloud_repos
  /api/alm_integrations/search_bitbucketserver_repos:
    get:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform setting key
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: Project name filter
        in: query
        name: projectName
        schema:
          type: string
      - allowEmptyValue: true
        description: Repository name filter
        in: query
        name: repositoryName
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to search_bitbucketserver_repos
  /api/alm_integrations/search_gitlab_repos:
    get:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform setting key
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: 1-based page number
        in: query
        name: p
        schema:
          type: string
      - allowEmptyValue: true
        description: Project name filter
        in: query
        name: projectName
        schema:
          type: string
      - allowEmptyValue: true
        description: Page size. Must be greater than 0 and less or equal than 500
        in: query
        name: ps
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to search_gitlab_repos
  /api/alm_integrations/set_pat:
    post:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform configuration key. This parameter is optional
          if you have only one single DevOps Platform integration.
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: Personal Access Token
        in: query
        name: pat
        schema:
          type: string
      - allowEmptyValue: true
        description: Username
        in: query
        name: username
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to set_pat
  /api/alm_settings/count_binding:
    get:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform setting key
        in: query
        name: almSetting
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to count_binding
  /api/alm_settings/create_azure:
    post:
      parameters:
      - allowEmptyValue: true
        description: Unique key of the Azure Devops instance setting
        in: query
        name: key
        schema:
          type: string
      - allowEmptyValue: true
        description: Azure Devops personal access token
        in: query
        name: personalAccessToken
        schema:
          type: string
      - allowEmptyValue: true
        description: Azure API URL
        in: query
        name: url
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to create_azure
  /api/alm_settings/create_bitbucket:
    post:
      parameters:
      - allowEmptyValue: true
        description: Unique key of the Bitbucket instance setting
        in: query
        name: key
        schema:
          type: string
      - allowEmptyValue: true
        description: Bitbucket personal access token
        in: query
        name: personalAccessToken
        schema:
          type: string
      - allowEmptyValue: true
        description: BitBucket server API URL
        in: query
        name: url
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to create_bitbucket
  /api/alm_settings/create_bitbucketcloud:
    post:
      parameters:
      - allowEmptyValue: true
        description: Bitbucket Cloud Client ID
        in: query
        name: clientId
        schema:
          type: string
      - allowEmptyValue: true
        description: Bitbucket Cloud Client Secret
        in: query
        name: clientSecret
        schema:
          type: string
      - allowEmptyValue: true
        description: Unique key of the Bitbucket Cloud setting
        in: query
        name: key
        schema:
          type: string
      - allowEmptyValue: true
        description: Bitbucket Cloud workspace ID
        in: query
        name: workspace
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to create_bitbucketcloud
  /api/alm_settings/create_github:
    post:
      parameters:
      - allowEmptyValue: true
        description: GitHub App ID
        in: query
        name: appId
        schema:
          type: string
      - allowEmptyValue: true
        description: GitHub App Client ID
        in: query
        name: clientId
        schema:
          type: string
      - allowEmptyValue: true
        description: GitHub App Client Secret
        in: query
        name: clientSecret
        schema:
          type: string
      - allowEmptyValue: true
        description: Unique key of the GitHub instance setting
        in: query
        name: key
        schema:
          type: string
      - allowEmptyValue: true
        description: GitHub App private key
        in: query
        name: privateKey
        schema:
          type: string
      - allowEmptyValue: true
        description: GitHub API URL
        in: query
        name: url
        schema:
          type: string
      - allowEmptyValue: true
        description: GitHub App Webhook Secret
        in: query
        name: webhookSecret
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to create_github
  /api/alm_settings/create_gitlab:
    post:
      parameters:
      - allowEmptyValue: true
        description: Unique key of the GitLab instance setting
        in: query
        name: key
        schema:
          type: string
      - allowEmptyValue: true
        description: GitLab personal access token
        in: query
        name: personalAccessToken
        schema:
          type: string
      - allowEmptyValue: true
        description: GitLab API URL
        in: query
        name: url
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to create_gitlab
  /api/alm_settings/delete:
    post:
      parameters:
      - allowEmptyValue: true
        description: DevOps Platform Setting key
        in: query
        name: key
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to delete
  /api/alm_settings/delete_binding:
    post:
      parameters:
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to delete_binding
  /api/alm_settings/get_binding:
    get:
      parameters:
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to get_binding
  /api/alm_settings/list:
    get:
      parameters:
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to list
  /api/alm_settings/list_definitions:
    get:
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to list_definitions
  /api/alm_settings/set_azure_binding:
    post:
      parameters:
      - allowEmptyValue: true
        description: Azure DevOps setting key
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: Is this project part of a monorepo
        in: query
        name: monorepo
        schema:
          type: string
      - allowEmptyValue: true
        description: SonarQube project key
        in: query
        name: project
        schema:
          type: string
      - allowEmptyValue: true
        description: Azure project name
        in: query
        name: projectName
        schema:
          type: string
      - allowEmptyValue: true
        description: Azure repository name
        in: query
        name: repositoryName
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to set_azure_binding
  /api/alm_settings/set_bitbucket_binding:
    post:
      parameters:
      - allowEmptyValue: true
        description: Bitbucket Server setting key
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: Is this project part of a monorepo
        in: query
        name: monorepo
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      - allowEmptyValue: true
        description: Bitbucket Server repository key
        in: query
        name: repository
        schema:
          type: string
      - allowEmptyValue: true
        description: Bitbucket repository slug
        in: query
        name: slug
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to set_bitbucket_binding
  /api/alm_settings/set_bitbucketcloud_binding:
    post:
      parameters:
      - allowEmptyValue: true
        description: Bitbucket Cloud setting key
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: Is this project part of a monorepo
        in: query
        name: monorepo
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      - allowEmptyValue: true
        description: Bitbucket Cloud repository key
        in: query
        name: repository
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to set_bitbucketcloud_binding
  /api/alm_settings/set_github_binding:
    post:
      parameters:
      - allowEmptyValue: true
        description: GitHub setting key
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: Is this project part of a monorepo
        in: query
        name: monorepo
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      - allowEmptyValue: true
        description: GitHub Repository
        in: query
        name: repository
        schema:
          type: string
      - allowEmptyValue: true
        description: Enable/disable summary in PR discussion tab
        in: query
        name: summaryCommentEnabled
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to set_github_binding
  /api/alm_settings/set_gitlab_binding:
    post:
      parameters:
      - allowEmptyValue: true
        description: GitLab setting key
        in: query
        name: almSetting
        schema:
          type: string
      - allowEmptyValue: true
        description: Is this project part of a monorepo
        in: query
        name: monorepo
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      - allowEmptyValue: true
        description: GitLab project ID
        in: query
        name: repository
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to set_gitlab_binding
  /api/alm_settings/update_azure:
    post:
      parameters:
      - allowEmptyValue: true
        description: Unique key of the Azure instance setting
        in: query
        name: key
        schema:
          type: string
      - allowEmptyValue: true
        description: Optional new value for an unique key of the Azure Devops instance
          setting
        in: query
        name: newKey
        schema:
          type: string
      - allowEmptyValue: true
        description: Azure Devops personal access token
        in: query
        name: personalAccessToken
        schema:
          type: string
      - allowEmptyValue: true
        description: Azure API URL
        in: query
        name: url
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to update_azure
  /api/alm_settings/update_bitbucket:
    post:
      parameters:
      - allowEmptyValue: true
        description: Unique key of the Bitbucket instance setting
        in: query
        name: key
        schema:
          type: string
      - allowEmptyValue: true
        description: Optional new value for an unique key of the Bitbucket instance
          setting
        in: query
        name: newKey
        schema:
          type: string
      - allowEmptyValue: true
        description: Bitbucket personal access token
        in: query
        name: personalAccessToken
        schema:
          type: string
      - allowEmptyValue: true
        description: Bitbucket API URL
        in: query
        name: url
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to update_bitbucket
  /api/alm_settings/update_bitbucketcloud:
    post:
      parameters:
      - allowEmptyValue: true
        description: Bitbucket Cloud Client ID
        in: query
        name: clientId
        schema:
          type: string
      - allowEmptyValue: true
        description: Optional new value for the Bitbucket Cloud client secret
        in: query
        name: clientSecret
        schema:
          type: string
      - allowEmptyValue: true
        description: Unique key of the Bitbucket Cloud setting
        in: query
        name: key
        schema:
          type: string
      - allowEmptyValue: true
        description: Optional new value for an unique key of the Bitbucket Cloud setting
        in: query
        name: newKey
        schema:
          type: string
      - allowEmptyValue: true
        description: Bitbucket Cloud workspace ID
        in: query
        name: workspace
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to update_bitbucketcloud
  /api/alm_settings/update_github:
    post:
      parameters:
      - allowEmptyValue: true
        description: GitHub API ID
        in: query
        name: appId
        schema:
          type: string
      - allowEmptyValue: true
        description: GitHub App Client ID
        in: query
        name: clientId
        schema:
          type: string
      - allowEmptyValue: true
        description: GitHub App Client Secret
        in: query
        name: clientSecret
        schema:
          type: string
      - allowEmptyValue: true
        description: Unique key of the GitHub instance setting
        in: query
        name: key
        schema:
          type: string
      - allowEmptyValue: true
        description: Optional new value for an unique key of the GitHub instance setting
        in: query
        name: newKey
        schema:
          type: string
      - allowEmptyValue: true
        description: GitHub App private key
        in: query
        name: privateKey
        schema:
          type: string
      - allowEmptyValue: true
        description: GitHub API URL
        in: query
        name: url
        schema:
          type: string
      - allowEmptyValue: true
        description: GitHub App Webhook Secret
        in: query
        name: webhookSecret
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to update_github
  /api/alm_settings/update_gitlab:
    post:
      parameters:
      - allowEmptyValue: true
        description: Unique key of the GitLab instance setting
        in: query
        name: key
        schema:
          type: string
      - allowEmptyValue: true
        description: Optional new value for an unique key of the GitLab instance setting
        in: query
        name: newKey
        schema:
          type: string
      - allowEmptyValue: true
        description: GitLab personal access token
        in: query
        name: personalAccessToken
        schema:
          type: string
      - allowEmptyValue: true
        description: GitLab API URL
        in: query
        name: url
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to update_gitlab
  /api/alm_settings/validate:
    get:
      parameters:
      - allowEmptyValue: true
        description: Unique key of the DevOps Platform settings
        in: query
        name: key
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to validate
  /api/analysis_cache/get:
    get:
      parameters:
      - allowEmptyValue: true
        description: Branch key. If not provided, main branch will be used.
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to get
  /api/applications/add_project:
    post:
      parameters:
      - allowEmptyValue: true
        description: Key of the application
        in: query
        name: application
        schema:
          type: string
      - allowEmptyValue: true
        description: Key of the project
        in: query
        name: project
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to add_project
  /api/applications/create:
    post:
      parameters:
      - allowEmptyValue: true
        description: Application description
        in: query
        name: description
        schema:
          type: string
      - allowEmptyValue: true
        description: Application key. A suitable key will be generated if not provided
        in: query
        name: key
        schema:
          type: string
      - allowEmptyValue: true
        description: Application name
        in: query
        name: name
        schema:
          type: string
      - allowEmptyValue: true
        description: Whether the created application should be visible to everyone,
          or only specific user/groups.<br/>If no visibility is specified, the default
          visibility will be used.
        in: query
        name: visibility
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to create
  /api/applications/create_branch:
    post:
      parameters:
      - allowEmptyValue: true
        description: Application key
        in: query
        name: application
        schema:
          type: string
      - allowEmptyValue: true
        description: Branch name
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: Project keys. To set several values, the parameter must be called
          once for each value.
        in: query
        name: project
        schema:
          type: string
      - allowEmptyValue: true
        description: Project branches. To set main branch, provide an empty value.
          To set several values, the parameter must be called once for each value.
        in: query
        name: projectBranch
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to create_branch
  /api/applications/delete:
    post:
      parameters:
      - allowEmptyValue: true
        description: Application key
        in: query
        name: application
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to delete
  /api/applications/delete_branch:
    post:
      parameters:
      - allowEmptyValue: true
        description: Application key
        in: query
        name: application
        schema:
          type: string
      - allowEmptyValue: true
        description: Branch name
        in: query
        name: branch
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to delete_branch
  /api/applications/remove_project:
    post:
      parameters:
      - allowEmptyValue: true
        description: Key of the application
        in: query
        name: application
        schema:
          type: string
      - allowEmptyValue: true
        description: Key of the project
        in: query
        name: project
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to remove_project
  /api/applications/set_tags:
    post:
      parameters:
      - allowEmptyValue: true
        description: Application key
        in: query
        name: application
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of tags
        in: query
        name: tags
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to set_tags
  /api/applications/show:
    get:
      parameters:
      - allowEmptyValue: true
        description: Application key
        in: query
        name: application
        schema:
          type: string
      - allowEmptyValue: true
        description: Branch name
        in: query
        name: branch
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to show
  /api/applications/update:
    post:
      parameters:
      - allowEmptyValue: true
        description: Application key
        in: query
        name: application
        schema:
          type: string
      - allowEmptyValue: true
        description: New description for the application
        in: query
        name: description
        schema:
          type: string
      - allowEmptyValue: true
        description: New name for the application
        in: query
        name: name
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to update
  /api/applications/update_branch:
    post:
      parameters:
      - allowEmptyValue: true
        description: Application key
        in: query
        name: application
        schema:
          type: string
      - allowEmptyValue: true
        description: Branch name
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: New branch name
        in: query
        name: name
        schema:
          type: string
      - allowEmptyValue: true
        description: Project keys. To set several values, the parameter must be called
          once for each value.
        in: query
        name: project
        schema:
          type: string
      - allowEmptyValue: true
        description: Project branches. To set main branch, provide an empty value.
          To set several values, the parameter must be called once for each value.
        in: query
        name: projectBranch
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to update_branch
  /api/audit_logs/download:
    get:
      parameters:
      - allowEmptyValue: true
        description: Date in ISO 8601 datetime format (YYYY-MM-DDThh:mm:ss±hh:mm)
          from which the logs will be returned. Inclusive.
        in: query
        name: from
        schema:
          type: string
      - allowEmptyValue: true
        description: Date in ISO 8601 datetime format (YYYY-MM-DDThh:mm:ss±hh:mm)
          until which the logs will be returned. Inclusive.
        in: query
        name: to
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to download
  /api/authentication/login:
    post:
      parameters:
      - allowEmptyValue: true
        description: Login of the user
        in: query
        name: login
        schema:
          type: string
      - allowEmptyValue: true
        description: Password of the user
        in: query
        name: password
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to login
  /api/authentication/logout:
    post:
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to logout
  /api/authentication/validate:
    get:
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to validate
  /api/ce/activity:
    get:
      parameters:
      - allowEmptyValue: true
        description: Key of the component (project) to filter on
        in: query
        name: component
        schema:
          type: string
      - allowEmptyValue: true
        description: Maximum date of end of task processing (inclusive)
        in: query
        name: maxExecutedAt
        schema:
          type: string
      - allowEmptyValue: true
        description: Minimum date of task submission (inclusive)
        in: query
        name: minSubmittedAt
        schema:
          type: string
      - allowEmptyValue: true
        description: Filter on the last tasks (only the most recent finished task
          by project)
        in: query
        name: onlyCurrents
        schema:
          type: string
      - allowEmptyValue: true
        description: 1-based page number
        in: query
        name: p
        schema:
          type: string
      - allowEmptyValue: true
        description: Page size. Must be greater than 0 and less or equal than 1000
        in: query
        name: ps
        schema:
          type: string
      - allowEmptyValue: true
        description: 'Limit search to: <ul><li>component names that contain the supplied
          string</li><li>component keys that are exactly the same as the supplied
          string</li><li>task ids that are exactly the same as the supplied string</li></ul>'
        in: query
        name: q
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma separated list of task statuses
        in: query
        name: status
        schema:
          type: string
      - allowEmptyValue: true
        description: Task type
        in: query
        name: type
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to activity
  /api/ce/activity_status:
    get:
      parameters:
      - allowEmptyValue: true
        description: Key of the component (project) to filter on
        in: query
        name: component
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to activity_status
  /api/ce/component:
    get:
      parameters:
      - allowEmptyValue: true
        description: ""
        in: query
        name: component
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to component
  /api/ce/task:
    get:
      parameters:
      - allowEmptyValue: true
        description: Comma-separated list of the optional fields to be returned in
          response.
        in: query
        name: additionalFields
        schema:
          type: string
      - allowEmptyValue: true
        description: Id of task
        in: query
        name: id
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to task
  /api/components/search:
    get:
      parameters:
      - allowEmptyValue: true
        description: 1-based page number
        in: query
        name: p
        schema:
          type: string
      - allowEmptyValue: true
        description: Page size. Must be greater than 0 and less or equal than 500
        in: query
        name: ps
        schema:
          type: string
      - allowEmptyValue: true
        description: 'Limit search to: <ul><li>component names that contain the supplied
          string</li><li>component keys that are exactly the same as the supplied
          string</li></ul><br>The value length of the param must be between 2 and
          15 (inclusive) characters. In case longer value is provided it will be truncated.'
        in: query
        name: q
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of component qualifiers. Filter the results
          with the specified qualifiers. Possible values are:<ul><li>APP - Applications</li><li>VW
          - Portfolios</li><li>SVW - Portfolios</li><li>TRK - Projects</li></ul>
        in: query
        name: qualifiers
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to search
  /api/components/show:
    get:
      parameters:
      - allowEmptyValue: true
        description: Branch key. Not available in the community edition.
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: Component key
        in: query
        name: component
        schema:
          type: string
      - allowEmptyValue: true
        description: Pull request id. Not available in the community edition.
        in: query
        name: pullRequest
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to show
  /api/components/tree:
    get:
      parameters:
      - allowEmptyValue: true
        description: Ascending sort
        in: query
        name: asc
        schema:
          type: string
      - allowEmptyValue: true
        description: Branch key. Not available in the community edition.
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: Base component key. The search is based on this component.
        in: query
        name: component
        schema:
          type: string
      - allowEmptyValue: true
        description: 1-based page number
        in: query
        name: p
        schema:
          type: string
      - allowEmptyValue: true
        description: Page size. Must be greater than 0 and less or equal than 500
        in: query
        name: ps
        schema:
          type: string
      - allowEmptyValue: true
        description: Pull request id. Not available in the community edition.
        in: query
        name: pullRequest
        schema:
          type: string
      - allowEmptyValue: true
        description: 'Limit search to: <ul><li>component names that contain the supplied
          string</li><li>component keys that are exactly the same as the supplied
          string</li></ul>'
        in: query
        name: q
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of component qualifiers. Filter the results
          with the specified qualifiers. Possible values are:<ul><li>APP - Applications</li><li>VW
          - Portfolios</li><li>SVW - Portfolios</li><li>UTS - Test Files</li><li>FIL
          - Files</li><li>DIR - Directories</li><li>TRK - Projects</li></ul>
        in: query
        name: qualifiers
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of sort fields
        in: query
        name: s
        schema:
          type: string
      - allowEmptyValue: true
        description: 'Strategy to search for base component descendants:<ul><li>children:
          return the children components of the base component. Grandchildren components
          are not returned</li><li>all: return all the descendants components of the
          base component. Grandchildren are returned.</li><li>leaves: return all the
          descendant components (files, in general) which don''t have other children.
          They are the leaves of the component tree.</li></ul>'
        in: query
        name: strategy
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to tree
  /api/duplications/show:
    get:
      parameters:
      - allowEmptyValue: true
        description: File key
        in: query
        name: key
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to show
  /api/editions/activate_grace_period:
    post:
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to activate_grace_period
  /api/editions/set_license:
    post:
      parameters:
      - allowEmptyValue: true
        description: ""
        in: query
        name: license
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to set_license
  /api/favorites/add:
    post:
      parameters:
      - allowEmptyValue: true
        description: Component key. Only components with qualifiers TRK, VW, SVW,
          APP are supported
        in: query
        name: component
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to add
  /api/favorites/remove:
    post:
      parameters:
      - allowEmptyValue: true
        description: Component key
        in: query
        name: component
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to remove
  /api/favorites/search:
    get:
      parameters:
      - allowEmptyValue: true
        description: 1-based page number
        in: query
        name: p
        schema:
          type: string
      - allowEmptyValue: true
        description: Page size. Must be greater than 0 and less or equal than 500
        in: query
        name: ps
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to search
  /api/hotspots/change_status:
    post:
      parameters:
      - allowEmptyValue: true
        description: Comment text.
        in: query
        name: comment
        schema:
          type: string
      - allowEmptyValue: true
        description: Key of the Security Hotspot
        in: query
        name: hotspot
        schema:
          type: string
      - allowEmptyValue: true
        description: Resolution of the Security Hotspot when new status is REVIEWED,
          otherwise must not be set.
        in: query
        name: resolution
        schema:
          type: string
      - allowEmptyValue: true
        description: New status of the Security Hotspot.
        in: query
        name: status
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to change_status
  /api/hotspots/search:
    get:
      parameters:
      - allowEmptyValue: true
        description: Branch key. Not available in the community edition.
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of CWE numbers
        in: query
        name: cwe
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of files. Returns only hotspots found in
          those files
        in: query
        name: files
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of Security Hotspot keys. This parameter
          is required unless project is provided.
        in: query
        name: hotspots
        schema:
          type: string
      - allowEmptyValue: true
        description: If 'inNewCodePeriod' is provided, only Security Hotspots created
          in the new code period are returned.
        in: query
        name: inNewCodePeriod
        schema:
          type: string
      - allowEmptyValue: true
        description: If 'projectKey' is provided, returns only Security Hotspots assigned
          to the current user
        in: query
        name: onlyMine
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of OWASP ASVS v4.0 categories or rules.
        in: query
        name: owaspAsvs-4.0
        schema:
          type: string
      - allowEmptyValue: true
        description: Filters hotspots with lower or equal OWASP ASVS level to the
          parameter value. Should be used in combination with the 'owaspAsvs-4.0'
          parameter.
        in: query
        name: owaspAsvsLevel
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of OWASP 2017 Top 10 lowercase categories.
        in: query
        name: owaspTop10
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of OWASP 2021 Top 10 lowercase categories.
        in: query
        name: owaspTop10-2021
        schema:
          type: string
      - allowEmptyValue: true
        description: 1-based page number
        in: query
        name: p
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of PCI DSS v3.2 categories.
        in: query
        name: pciDss-3.2
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of PCI DSS v4.0 categories.
        in: query
        name: pciDss-4.0
        schema:
          type: string
      - allowEmptyValue: true
        description: Key of the project or application. This parameter is required
          unless hotspots is provided.
        in: query
        name: project
        schema:
          type: string
      - allowEmptyValue: true
        description: Page size. Must be greater than 0.
        in: query
        name: ps
        schema:
          type: string
      - allowEmptyValue: true
        description: Pull request id. Not available in the community edition.
        in: query
        name: pullRequest
        schema:
          type: string
      - allowEmptyValue: true
        description: If 'project' is provided and if status is 'REVIEWED', only Security
          Hotspots with the specified resolution are returned.
        in: query
        name: resolution
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of SANS Top 25 categories.
        in: query
        name: sansTop25
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of SonarSource security categories. Use
          'others' to select issues not associated with any category
        in: query
        name: sonarsourceSecurity
        schema:
          type: string
      - allowEmptyValue: true
        description: If 'project' is provided, only Security Hotspots with the specified
          status are returned.
        in: query
        name: status
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to search
  /api/hotspots/show:
    get:
      parameters:
      - allowEmptyValue: true
        description: Key of the Security Hotspot
        in: query
        name: hotspot
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to show
  /api/issues/add_comment:
    post:
      parameters:
      - allowEmptyValue: true
        description: Issue key
        in: query
        name: issue
        schema:
          type: string
      - allowEmptyValue: true
        description: Comment text
        in: query
        name: text
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to add_comment
  /api/issues/assign:
    post:
      parameters:
      - allowEmptyValue: true
        description: Login of the assignee. When not set, it will unassign the issue.
          Use '_me' to assign to current user
        in: query
        name: assignee
        schema:
          type: string
      - allowEmptyValue: true
        description: Issue key
        in: query
        name: issue
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to assign
  /api/issues/authors:
    get:
      parameters:
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      - allowEmptyValue: true
        description: Page size. Must be greater than 0 and less or equal than 100
        in: query
        name: ps
        schema:
          type: string
      - allowEmptyValue: true
        description: Limit search to authors that contain the supplied string.
        in: query
        name: q
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to authors
  /api/issues/bulk_change:
    post:
      parameters:
      - allowEmptyValue: true
        description: Add tags
        in: query
        name: add_tags
        schema:
          type: string
      - allowEmptyValue: true
        description: To assign the list of issues to a specific user (login), or un-assign
          all the issues
        in: query
        name: assign
        schema:
          type: string
      - allowEmptyValue: true
        description: Add a comment. The comment will only be added to issues that
          are affected either by a change of type or a change of severity as a result
          of the same WS call.
        in: query
        name: comment
        schema:
          type: string
      - allowEmptyValue: true
        description: Transition
        in: query
        name: do_transition
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of issue keys
        in: query
        name: issues
        schema:
          type: string
      - allowEmptyValue: true
        description: Remove tags
        in: query
        name: remove_tags
        schema:
          type: string
      - allowEmptyValue: true
        description: ""
        in: query
        name: sendNotifications
        schema:
          type: string
      - allowEmptyValue: true
        description: To change the severity of the list of issues
        in: query
        name: set_severity
        schema:
          type: string
      - allowEmptyValue: true
        description: To change the type of the list of issues
        in: query
        name: set_type
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to bulk_change
  /api/issues/changelog:
    get:
      parameters:
      - allowEmptyValue: true
        description: Issue key
        in: query
        name: issue
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to changelog
  /api/issues/delete_comment:
    post:
      parameters:
      - allowEmptyValue: true
        description: Comment key
        in: query
        name: comment
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to delete_comment
  /api/issues/do_transition:
    post:
      parameters:
      - allowEmptyValue: true
        description: Issue key
        in: query
        name: issue
        schema:
          type: string
      - allowEmptyValue: true
        description: Transition
        in: query
        name: transition
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to do_transition
  /api/issues/edit_comment:
    post:
      parameters:
      - allowEmptyValue: true
        description: Comment key
        in: query
        name: comment
        schema:
          type: string
      - allowEmptyValue: true
        description: Comment text
        in: query
        name: text
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to edit_comment
  /api/issues/gitlab_sast_export:
    get:
      parameters:
      - allowEmptyValue: true
        description: Branch key.If this parameter is set, pullRequest must not be
          set.
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: The project key for which the vulnerabilities are being fetched
        in: query
        name: projectKey
        schema:
          type: string
      - allowEmptyValue: true
        description: Pull request id.If this parameter is set, branch must not be
          set.
        in: query
        name: pullRequest
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to gitlab_sast_export
  /api/issues/reindex:
    post:
      parameters:
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to reindex
  /api/issues/search:
    get:
      parameters:
      - allowEmptyValue: true
        description: Comma-separated list of the optional fields to be returned in
          response. Action plans are dropped in 5.5, it is not returned in the response.
        in: query
        name: additionalFields
        schema:
          type: string
      - allowEmptyValue: true
        description: Ascending sort
        in: query
        name: asc
        schema:
          type: string
      - allowEmptyValue: true
        description: To retrieve assigned or unassigned issues
        in: query
        name: assigned
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of assignee logins. The value '__me__' can
          be used as a placeholder for user who performs the request
        in: query
        name: assignees
        schema:
          type: string
      - allowEmptyValue: true
        description: SCM accounts. To set several values, the parameter must be called
          once for each value.
        in: query
        name: author
        schema:
          type: string
      - allowEmptyValue: true
        description: Branch key. Not available in the community edition.
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of Clean Code Attribute Categories
        in: query
        name: cleanCodeAttributeCategories
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of code variants.
        in: query
        name: codeVariants
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of component keys. Retrieve issues associated
          to a specific list of components (and all its descendants). A component
          can be a portfolio, project, module, directory or file.
        in: query
        name: components
        schema:
          type: string
      - allowEmptyValue: true
        description: To retrieve issues created after the given date (inclusive).
          <br>Either a date (use 'timeZone' attribute or it will default to server
          timezone) or datetime can be provided. <br>If this parameter is set, createdInLast
          must not be set
        in: query
        name: createdAfter
        schema:
          type: string
      - allowEmptyValue: true
        description: Datetime to retrieve issues created during a specific analysis
        in: query
        name: createdAt
        schema:
          type: string
      - allowEmptyValue: true
        description: To retrieve issues created before the given date (exclusive).
          <br>Either a date (use 'timeZone' attribute or it will default to server
          timezone) or datetime can be provided.
        in: query
        name: createdBefore
        schema:
          type: string
      - allowEmptyValue: true
        description: To retrieve issues created during a time span before the current
          time (exclusive). Accepted units are 'y' for year, 'm' for month, 'w' for
          week and 'd' for day. If this parameter is set, createdAfter must not be
          set
        in: query
        name: createdInLast
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of CWE identifiers. Use 'unknown' to select
          issues not associated to any CWE.
        in: query
        name: cwe
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of the facets to be computed. No facet is
          computed by default.
        in: query
        name: facets
        schema:
          type: string
      - allowEmptyValue: true
        description: Pull request id to filter issues that would be fixed in the specified
          project or branch by the pull request. Should not be used together with
          + 'pullRequest'. At least the 'components' must be be specified when this
          param is used.  Not available in the community edition.
        in: query
        name: fixedInPullRequest
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of Software Quality Severities
        in: query
        name: impactSeverities
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of Software Qualities
        in: query
        name: impactSoftwareQualities
        schema:
          type: string
      - allowEmptyValue: true
        description: To retrieve issues created in the new code period.<br>If this
          parameter is set to a truthy value, createdAfter must not be set and one
          component uuid or key must be provided.
        in: query
        name: inNewCodePeriod
        schema:
          type: string
      - allowEmptyValue: true
        description: ""
        in: query
        name: issueStatuses
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of issue keys
        in: query
        name: issues
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of languages. Available since 4.4
        in: query
        name: languages
        schema:
          type: string
      - allowEmptyValue: true
        description: Return only issues at a component's level, not on its descendants
          (modules, directories, files, etc). This parameter is only considered when
          componentKeys is set.
        in: query
        name: onComponentOnly
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of OWASP ASVS v4.0 categories.
        in: query
        name: owaspAsvs-4.0
        schema:
          type: string
      - allowEmptyValue: true
        description: Level of OWASP ASVS categories.
        in: query
        name: owaspAsvsLevel
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of OWASP Top 10 2017 lowercase categories.
        in: query
        name: owaspTop10
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of OWASP Top 10 2021 lowercase categories.
        in: query
        name: owaspTop10-2021
        schema:
          type: string
      - allowEmptyValue: true
        description: 1-based page number
        in: query
        name: p
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of PCI DSS v3.2 categories.
        in: query
        name: pciDss-3.2
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of PCI DSS v4.0 categories.
        in: query
        name: pciDss-4.0
        schema:
          type: string
      - allowEmptyValue: true
        description: Page size. Must be greater than 0 and less or equal than 500
        in: query
        name: ps
        schema:
          type: string
      - allowEmptyValue: true
        description: Pull request id. Not available in the community edition.
        in: query
        name: pullRequest
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of resolutions
        in: query
        name: resolutions
        schema:
          type: string
      - allowEmptyValue: true
        description: To match resolved or unresolved issues
        in: query
        name: resolved
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of coding rule keys. Format is &lt;repository&gt;:&lt;rule&gt;
        in: query
        name: rules
        schema:
          type: string
      - allowEmptyValue: true
        description: Sort field
        in: query
        name: s
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of SANS Top 25 categories.
        in: query
        name: sansTop25
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of scopes. Available since 8.5
        in: query
        name: scopes
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of severities
        in: query
        name: severities
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of SonarSource security categories. Use
          'others' to select issues not associated with any category
        in: query
        name: sonarsourceSecurity
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of statuses
        in: query
        name: statuses
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of tags.
        in: query
        name: tags
        schema:
          type: string
      - allowEmptyValue: true
        description: To resolve dates passed to 'createdAfter' or 'createdBefore'
          (does not apply to datetime) and to compute creation date histogram
        in: query
        name: timeZone
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of types.
        in: query
        name: types
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to search
  /api/issues/set_severity:
    post:
      parameters:
      - allowEmptyValue: true
        description: Issue key
        in: query
        name: issue
        schema:
          type: string
      - allowEmptyValue: true
        description: New severity
        in: query
        name: severity
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to set_severity
  /api/issues/set_tags:
    post:
      parameters:
      - allowEmptyValue: true
        description: Issue key
        in: query
        name: issue
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of tags. All tags are removed if parameter
          is empty or not set.
        in: query
        name: tags
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to set_tags
  /api/issues/set_type:
    post:
      parameters:
      - allowEmptyValue: true
        description: Issue key
        in: query
        name: issue
        schema:
          type: string
      - allowEmptyValue: true
        description: New type
        in: query
        name: type
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to set_type
  /api/issues/tags:
    get:
      parameters:
      - allowEmptyValue: true
        description: Indicator to search for all tags or only for tags in the main
          branch of a project
        in: query
        name: all
        schema:
          type: string
      - allowEmptyValue: true
        description: Branch key
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      - allowEmptyValue: true
        description: Page size. Must be greater than 0 and less or equal than 500
        in: query
        name: ps
        schema:
          type: string
      - allowEmptyValue: true
        description: Limit search to tags that contain the supplied string.
        in: query
        name: q
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to tags
  /api/languages/list:
    get:
      parameters:
      - allowEmptyValue: true
        description: The size of the list to return, 0 for all languages
        in: query
        name: ps
        schema:
          type: string
      - allowEmptyValue: true
        description: A pattern to match language keys/names against
        in: query
        name: q
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to list
  /api/measures/component:
    get:
      parameters:
      - allowEmptyValue: true
        description: Comma-separated list of additional fields that can be returned
          in the response.
        in: query
        name: additionalFields
        schema:
          type: string
      - allowEmptyValue: true
        description: Branch key. Not available in the community edition.
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: Component key
        in: query
        name: component
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of metric keys
        in: query
        name: metricKeys
        schema:
          type: string
      - allowEmptyValue: true
        description: Pull request id. Not available in the community edition.
        in: query
        name: pullRequest
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to component
  /api/measures/component_tree:
    get:
      parameters:
      - allowEmptyValue: true
        description: Comma-separated list of additional fields that can be returned
          in the response.
        in: query
        name: additionalFields
        schema:
          type: string
      - allowEmptyValue: true
        description: Ascending sort
        in: query
        name: asc
        schema:
          type: string
      - allowEmptyValue: true
        description: Branch key. Not available in the community edition.
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: Component key. The search is based on this component.
        in: query
        name: component
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of metric keys. Types DISTRIB are not allowed.
          For type DATA only maintainability_issues, reliability_issues, new_maintainability_issues,
          new_security_issues, new_reliability_issues, security_issues metrics are
          supported
        in: query
        name: metricKeys
        schema:
          type: string
      - allowEmptyValue: true
        description: Sort measures by leak period or not ?. The 's' parameter must
          contain the 'metricPeriod' value.
        in: query
        name: metricPeriodSort
        schema:
          type: string
      - allowEmptyValue: true
        description: Metric key to sort by. The 's' parameter must contain the 'metric'
          or 'metricPeriod' value. It must be part of the 'metricKeys' parameter
        in: query
        name: metricSort
        schema:
          type: string
      - allowEmptyValue: true
        description: 'Filter components. Sort must be on a metric. Possible values
          are: <ul><li>all: return all components</li><li>withMeasuresOnly: filter
          out components that do not have a measure on the sorted metric</li></ul>'
        in: query
        name: metricSortFilter
        schema:
          type: string
      - allowEmptyValue: true
        description: 1-based page number
        in: query
        name: p
        schema:
          type: string
      - allowEmptyValue: true
        description: Page size. Must be greater than 0 and less or equal than 500
        in: query
        name: ps
        schema:
          type: string
      - allowEmptyValue: true
        description: Pull request id. Not available in the community edition.
        in: query
        name: pullRequest
        schema:
          type: string
      - allowEmptyValue: true
        description: 'Limit search to: <ul><li>component names that contain the supplied
          string</li><li>component keys that are exactly the same as the supplied
          string</li></ul>'
        in: query
        name: q
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of component qualifiers. Filter the results
          with the specified qualifiers. Possible values are:<ul><li>APP - Applications</li><li>VW
          - Portfolios</li><li>SVW - Portfolios</li><li>UTS - Test Files</li><li>FIL
          - Files</li><li>DIR - Directories</li><li>TRK - Projects</li></ul>
        in: query
        name: qualifiers
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of sort fields
        in: query
        name: s
        schema:
          type: string
      - allowEmptyValue: true
        description: 'Strategy to search for base component descendants:<ul><li>children:
          return the children components of the base component. Grandchildren components
          are not returned</li><li>all: return all the descendants components of the
          base component. Grandchildren are returned.</li><li>leaves: return all the
          descendant components (files, in general) which don''t have other children.
          They are the leaves of the component tree.</li></ul>'
        in: query
        name: strategy
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to component_tree
  /api/measures/search_history:
    get:
      parameters:
      - allowEmptyValue: true
        description: Branch key. Not available in the community edition.
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: Component key
        in: query
        name: component
        schema:
          type: string
      - allowEmptyValue: true
        description: Filter measures created after the given date (inclusive). <br>Either
          a date (server timezone) or datetime can be provided
        in: query
        name: from
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of metric keys
        in: query
        name: metrics
        schema:
          type: string
      - allowEmptyValue: true
        description: 1-based page number
        in: query
        name: p
        schema:
          type: string
      - allowEmptyValue: true
        description: Page size. Must be greater than 0 and less or equal than 1000
        in: query
        name: ps
        schema:
          type: string
      - allowEmptyValue: true
        description: Pull request id. Not available in the community edition.
        in: query
        name: pullRequest
        schema:
          type: string
      - allowEmptyValue: true
        description: Filter measures created before the given date (inclusive). <br>Either
          a date (server timezone) or datetime can be provided
        in: query
        name: to
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to search_history
  /api/metrics/search:
    get:
      parameters:
      - allowEmptyValue: true
        description: 1-based page number
        in: query
        name: p
        schema:
          type: string
      - allowEmptyValue: true
        description: Page size. Must be greater than 0 and less or equal than 500
        in: query
        name: ps
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to search
  /api/metrics/types:
    get:
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to types
  /api/monitoring/metrics:
    get:
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to metrics
  /api/new_code_periods/list:
    get:
      parameters:
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to list
  /api/new_code_periods/set:
    post:
      parameters:
      - allowEmptyValue: true
        description: Branch key
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      - allowEmptyValue: true
        description: Type<br/>New code definitions of the following types are allowed:<ul><li>SPECIFIC_ANALYSIS
          - can be set at branch level only</li><li>PREVIOUS_VERSION - can be set
          at any level (global, project, branch)</li><li>NUMBER_OF_DAYS - can be set
          at any level (global, project, branch)</li><li>REFERENCE_BRANCH - can only
          be set for projects and branches</li></ul>
        in: query
        name: type
        schema:
          type: string
      - allowEmptyValue: true
        description: Value<br/>For each type, a different value is expected:<ul><li>the
          uuid of an analysis, when type is SPECIFIC_ANALYSIS</li><li>no value, when
          type is PREVIOUS_VERSION</li><li>a number between 1 and 90, when type is
          NUMBER_OF_DAYS</li><li>a string, when type is REFERENCE_BRANCH</li></ul>
        in: query
        name: value
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to set
  /api/new_code_periods/show:
    get:
      parameters:
      - allowEmptyValue: true
        description: Branch key
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to show
  /api/new_code_periods/unset:
    post:
      parameters:
      - allowEmptyValue: true
        description: Branch key
        in: query
        name: branch
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to unset
  /api/notifications/add:
    post:
      parameters:
      - allowEmptyValue: true
        description: Channel through which the notification is sent. For example,
          notifications can be sent by email.
        in: query
        name: channel
        schema:
          type: string
      - allowEmptyValue: true
        description: User login
        in: query
        name: login
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      - allowEmptyValue: true
        description: 'Notification type. Possible values are for:<ul>  <li>Global
          notifications: CeReportTaskFailure, ChangesOnMyIssue, NewAlerts, SQ-MyNewIssues</li>  <li>Per
          project notifications: CeReportTaskFailure, ChangesOnMyIssue, NewAlerts,
          NewFalsePositiveIssue, NewIssues, SQ-MyNewIssues</li></ul>'
        in: query
        name: type
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to add
  /api/notifications/list:
    get:
      parameters:
      - allowEmptyValue: true
        description: User login
        in: query
        name: login
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to list
  /api/notifications/remove:
    post:
      parameters:
      - allowEmptyValue: true
        description: Channel through which the notification is sent. For example,
          notifications can be sent by email.
        in: query
        name: channel
        schema:
          type: string
      - allowEmptyValue: true
        description: User login
        in: query
        name: login
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: project
        schema:
          type: string
      - allowEmptyValue: true
        description: 'Notification type. Possible values are for:<ul>  <li>Global
          notifications: CeReportTaskFailure, ChangesOnMyIssue, NewAlerts, SQ-MyNewIssues</li>  <li>Per
          project notifications: CeReportTaskFailure, ChangesOnMyIssue, NewAlerts,
          NewFalsePositiveIssue, NewIssues, SQ-MyNewIssues</li></ul>'
        in: query
        name: type
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to remove
  /api/permissions/add_group:
    post:
      parameters:
      - allowEmptyValue: true
        description: Group name or 'anyone' (case insensitive)
        in: query
        name: groupName
        schema:
          type: string
      - allowEmptyValue: true
        description: 'The permission you would like to grant to the group.<ul><li>Possible
          values for global permissions: admin, gateadmin, profileadmin, provisioning,
          scan, applicationcreator, portfoliocreator</li><li>Possible values for project
          permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user</li></ul>'
        in: query
        name: permission
        schema:
          type: string
      - allowEmptyValue: true
        description: Project id
        in: query
        name: projectId
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: projectKey
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to add_group
  /api/permissions/add_group_to_template:
    post:
      parameters:
      - allowEmptyValue: true
        description: Group name or 'anyone' (case insensitive)
        in: query
        name: groupName
        schema:
          type: string
      - allowEmptyValue: true
        description: Permission<ul><li>Possible values for project permissions admin,
          codeviewer, issueadmin, securityhotspotadmin, scan, user</li></ul>
        in: query
        name: permission
        schema:
          type: string
      - allowEmptyValue: true
        description: Template id
        in: query
        name: templateId
        schema:
          type: string
      - allowEmptyValue: true
        description: Template name
        in: query
        name: templateName
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to add_group_to_template
  /api/permissions/add_project_creator_to_template:
    post:
      parameters:
      - allowEmptyValue: true
        description: Permission<ul><li>Possible values for project permissions admin,
          codeviewer, issueadmin, securityhotspotadmin, scan, user</li></ul>
        in: query
        name: permission
        schema:
          type: string
      - allowEmptyValue: true
        description: Template id
        in: query
        name: templateId
        schema:
          type: string
      - allowEmptyValue: true
        description: Template name
        in: query
        name: templateName
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to add_project_creator_to_template
  /api/permissions/add_user:
    post:
      parameters:
      - allowEmptyValue: true
        description: User login
        in: query
        name: login
        schema:
          type: string
      - allowEmptyValue: true
        description: 'The permission you would like to grant to the user<ul><li>Possible
          values for global permissions: admin, gateadmin, profileadmin, provisioning,
          scan, applicationcreator, portfoliocreator</li><li>Possible values for project
          permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user</li></ul>'
        in: query
        name: permission
        schema:
          type: string
      - allowEmptyValue: true
        description: Project id
        in: query
        name: projectId
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: projectKey
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to add_user
  /api/permissions/add_user_to_template:
    post:
      parameters:
      - allowEmptyValue: true
        description: User login
        in: query
        name: login
        schema:
          type: string
      - allowEmptyValue: true
        description: Permission<ul><li>Possible values for project permissions admin,
          codeviewer, issueadmin, securityhotspotadmin, scan, user</li></ul>
        in: query
        name: permission
        schema:
          type: string
      - allowEmptyValue: true
        description: Template id
        in: query
        name: templateId
        schema:
          type: string
      - allowEmptyValue: true
        description: Template name
        in: query
        name: templateName
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to add_user_to_template
  /api/permissions/apply_template:
    post:
      parameters:
      - allowEmptyValue: true
        description: Project id
        in: query
        name: projectId
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: projectKey
        schema:
          type: string
      - allowEmptyValue: true
        description: Template id
        in: query
        name: templateId
        schema:
          type: string
      - allowEmptyValue: true
        description: Template name
        in: query
        name: templateName
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to apply_template
  /api/permissions/bulk_apply_template:
    post:
      parameters:
      - allowEmptyValue: true
        description: Filter the projects for which last analysis is older than the
          given date (exclusive).<br> Either a date (server timezone) or datetime
          can be provided.
        in: query
        name: analyzedBefore
        schema:
          type: string
      - allowEmptyValue: true
        description: Filter the projects that are provisioned
        in: query
        name: onProvisionedOnly
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of project keys
        in: query
        name: projects
        schema:
          type: string
      - allowEmptyValue: true
        description: 'Limit search to: <ul><li>project names that contain the supplied
          string</li><li>project keys that are exactly the same as the supplied string</li></ul>'
        in: query
        name: q
        schema:
          type: string
      - allowEmptyValue: true
        description: Comma-separated list of component qualifiers. Filter the results
          with the specified qualifiers. Possible values are:<ul><li>APP - Applications</li><li>TRK
          - Projects</li><li>VW - Portfolios</li></ul>
        in: query
        name: qualifiers
        schema:
          type: string
      - allowEmptyValue: true
        description: Template id
        in: query
        name: templateId
        schema:
          type: string
      - allowEmptyValue: true
        description: Template name
        in: query
        name: templateName
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to bulk_apply_template
  /api/permissions/create_template:
    post:
      parameters:
      - allowEmptyValue: true
        description: Description
        in: query
        name: description
        schema:
          type: string
      - allowEmptyValue: true
        description: Name
        in: query
        name: name
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key pattern. Must be a valid Java regular expression
        in: query
        name: projectKeyPattern
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to create_template
  /api/permissions/delete_template:
    post:
      parameters:
      - allowEmptyValue: true
        description: Template id
        in: query
        name: templateId
        schema:
          type: string
      - allowEmptyValue: true
        description: Template name
        in: query
        name: templateName
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to delete_template
  /api/permissions/remove_group:
    post:
      parameters:
      - allowEmptyValue: true
        description: Group name or 'anyone' (case insensitive)
        in: query
        name: groupName
        schema:
          type: string
      - allowEmptyValue: true
        description: 'The permission you would like to revoke from the group.<ul><li>Possible
          values for global permissions: admin, gateadmin, profileadmin, provisioning,
          scan, applicationcreator, portfoliocreator</li><li>Possible values for project
          permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user</li></ul>'
        in: query
        name: permission
        schema:
          type: string
      - allowEmptyValue: true
        description: Project id
        in: query
        name: projectId
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: projectKey
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to remove_group
  /api/permissions/remove_group_from_template:
    post:
      parameters:
      - allowEmptyValue: true
        description: Group name or 'anyone' (case insensitive)
        in: query
        name: groupName
        schema:
          type: string
      - allowEmptyValue: true
        description: Permission<ul><li>Possible values for project permissions admin,
          codeviewer, issueadmin, securityhotspotadmin, scan, user</li></ul>
        in: query
        name: permission
        schema:
          type: string
      - allowEmptyValue: true
        description: Template id
        in: query
        name: templateId
        schema:
          type: string
      - allowEmptyValue: true
        description: Template name
        in: query
        name: templateName
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to remove_group_from_template
  /api/permissions/remove_project_creator_from_template:
    post:
      parameters:
      - allowEmptyValue: true
        description: Permission<ul><li>Possible values for project permissions admin,
          codeviewer, issueadmin, securityhotspotadmin, scan, user</li></ul>
        in: query
        name: permission
        schema:
          type: string
      - allowEmptyValue: true
        description: Template id
        in: query
        name: templateId
        schema:
          type: string
      - allowEmptyValue: true
        description: Template name
        in: query
        name: templateName
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
          description: Response to remove_project_creator_from_template
  /api/permissions/remove_user:
    post:
      parameters:
      - allowEmptyValue: true
        description: User login
        in: query
        name: login
        schema:
          type: string
      - allowEmptyValue: true
        description: 'The permission you would like to revoke from the user.<ul><li>Possible
          values for global permissions: admin, gateadmin, profileadmin, provisioning,
          scan, applicationcreator, portfoliocreator</li><li>Possible values for project
          permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user</li></ul>'
        in: query
        name: permission
        schema:
          type: string
      - allowEmptyValue: true
        description: Project id
        in: query
        name: projectId
        schema:
          type: string
      - allowEmptyValue: true
        description: Project key
        in: query
        name: projectKey
        schema:
          type: string
      responses:
        2XX:
          content:
            application/json:
              schema: {}
[...]
