{"openapi":"3.0.3","info":{"title":"Sonarqube OpenAPI specification","description":"Sonarqube Community Edition WebApi specifications.","version":"10.6.0.90190"},"servers":[{"url":"https://next.sonarqube.com/sonarqube/"}],"paths":{"/api/alm_integrations/import_azure_project":{"post":{"parameters":[{"name":"almSetting","in":"query","description":"DevOps Platform configuration key. This parameter is optional if you have only one Azure integration.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newCodeDefinitionType","in":"query","description":"Project New Code Definition Type\u003cbr/\u003eNew code definitions of the following types are allowed:\u003cul\u003e\u003cli\u003ePREVIOUS_VERSION\u003c/li\u003e\u003cli\u003eNUMBER_OF_DAYS\u003c/li\u003e\u003cli\u003eREFERENCE_BRANCH - will default to the main branch.\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newCodeDefinitionValue","in":"query","description":"Project New Code Definition Value\u003cbr/\u003eFor each new code definition type, a different value is expected:\u003cul\u003e\u003cli\u003eno value, when the new code definition type is PREVIOUS_VERSION and REFERENCE_BRANCH\u003c/li\u003e\u003cli\u003ea number between 1 and 90, when the new code definition type is NUMBER_OF_DAYS\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectName","in":"query","description":"Azure project name","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"repositoryName","in":"query","description":"Azure repository name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to import_azure_project","content":{"application/json":{"schema":{}}}}}}},"/api/alm_integrations/import_bitbucketcloud_repo":{"post":{"parameters":[{"name":"almSetting","in":"query","description":"DevOps Platform configuration key. This parameter is optional if you have only one BitBucket Cloud integration.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newCodeDefinitionType","in":"query","description":"Project New Code Definition Type\u003cbr/\u003eNew code definitions of the following types are allowed:\u003cul\u003e\u003cli\u003ePREVIOUS_VERSION\u003c/li\u003e\u003cli\u003eNUMBER_OF_DAYS\u003c/li\u003e\u003cli\u003eREFERENCE_BRANCH - will default to the main branch.\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newCodeDefinitionValue","in":"query","description":"Project New Code Definition Value\u003cbr/\u003eFor each new code definition type, a different value is expected:\u003cul\u003e\u003cli\u003eno value, when the new code definition type is PREVIOUS_VERSION and REFERENCE_BRANCH\u003c/li\u003e\u003cli\u003ea number between 1 and 90, when the new code definition type is NUMBER_OF_DAYS\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"repositorySlug","in":"query","description":"Bitbucket Cloud repository slug","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to import_bitbucketcloud_repo","content":{"application/json":{"schema":{}}}}}}},"/api/alm_integrations/import_bitbucketserver_project":{"post":{"parameters":[{"name":"almSetting","in":"query","description":"DevOps Platform configuration key. This parameter is optional if you have only one BitBucket Server integration.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newCodeDefinitionType","in":"query","description":"Project New Code Definition Type\u003cbr/\u003eNew code definitions of the following types are allowed:\u003cul\u003e\u003cli\u003ePREVIOUS_VERSION\u003c/li\u003e\u003cli\u003eNUMBER_OF_DAYS\u003c/li\u003e\u003cli\u003eREFERENCE_BRANCH - will default to the main branch.\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newCodeDefinitionValue","in":"query","description":"Project New Code Definition Value\u003cbr/\u003eFor each new code definition type, a different value is expected:\u003cul\u003e\u003cli\u003eno value, when the new code definition type is PREVIOUS_VERSION and REFERENCE_BRANCH\u003c/li\u003e\u003cli\u003ea number between 1 and 90, when the new code definition type is NUMBER_OF_DAYS\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectKey","in":"query","description":"BitbucketServer project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"repositorySlug","in":"query","description":"BitbucketServer repository slug","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to import_bitbucketserver_project","content":{"application/json":{"schema":{}}}}}}},"/api/alm_integrations/import_github_project":{"post":{"parameters":[{"name":"almSetting","in":"query","description":"DevOps Platform configuration key. This parameter is optional if you have only one GitHub integration.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newCodeDefinitionType","in":"query","description":"Project New Code Definition Type\u003cbr/\u003eNew code definitions of the following types are allowed:\u003cul\u003e\u003cli\u003ePREVIOUS_VERSION\u003c/li\u003e\u003cli\u003eNUMBER_OF_DAYS\u003c/li\u003e\u003cli\u003eREFERENCE_BRANCH - will default to the main branch.\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newCodeDefinitionValue","in":"query","description":"Project New Code Definition Value\u003cbr/\u003eFor each new code definition type, a different value is expected:\u003cul\u003e\u003cli\u003eno value, when the new code definition type is PREVIOUS_VERSION and REFERENCE_BRANCH\u003c/li\u003e\u003cli\u003ea number between 1 and 90, when the new code definition type is NUMBER_OF_DAYS\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"repositoryKey","in":"query","description":"GitHub repository key (organization/repoSlug","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to import_github_project","content":{"application/json":{"schema":{}}}}}}},"/api/alm_integrations/import_gitlab_project":{"post":{"parameters":[{"name":"almSetting","in":"query","description":"DevOps Platform configuration key. This parameter is optional if you have only one GitLab integration.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"gitlabProjectId","in":"query","description":"GitLab project ID","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newCodeDefinitionType","in":"query","description":"Project New Code Definition Type\u003cbr/\u003eNew code definitions of the following types are allowed:\u003cul\u003e\u003cli\u003ePREVIOUS_VERSION\u003c/li\u003e\u003cli\u003eNUMBER_OF_DAYS\u003c/li\u003e\u003cli\u003eREFERENCE_BRANCH - will default to the main branch.\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newCodeDefinitionValue","in":"query","description":"Project New Code Definition Value\u003cbr/\u003eFor each new code definition type, a different value is expected:\u003cul\u003e\u003cli\u003eno value, when the new code definition type is PREVIOUS_VERSION and REFERENCE_BRANCH\u003c/li\u003e\u003cli\u003ea number between 1 and 90, when the new code definition type is NUMBER_OF_DAYS\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to import_gitlab_project","content":{"application/json":{"schema":{}}}}}}},"/api/alm_integrations/list_azure_projects":{"get":{"parameters":[{"name":"almSetting","in":"query","description":"DevOps Platform setting key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to list_azure_projects","content":{"application/json":{"schema":{}}}}}}},"/api/alm_integrations/list_bitbucketserver_projects":{"get":{"parameters":[{"name":"almSetting","in":"query","description":"DevOps Platform setting key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to list_bitbucketserver_projects","content":{"application/json":{"schema":{}}}}}}},"/api/alm_integrations/search_azure_repos":{"get":{"parameters":[{"name":"almSetting","in":"query","description":"DevOps Platform setting key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectName","in":"query","description":"Project name filter","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"searchQuery","in":"query","description":"Search query filter","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search_azure_repos","content":{"application/json":{"schema":{}}}}}}},"/api/alm_integrations/search_bitbucketcloud_repos":{"get":{"parameters":[{"name":"almSetting","in":"query","description":"DevOps Platform setting key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"p","in":"query","description":"1-based page number","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 100","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"repositoryName","in":"query","description":"Repository name filter","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search_bitbucketcloud_repos","content":{"application/json":{"schema":{}}}}}}},"/api/alm_integrations/search_bitbucketserver_repos":{"get":{"parameters":[{"name":"almSetting","in":"query","description":"DevOps Platform setting key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectName","in":"query","description":"Project name filter","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"repositoryName","in":"query","description":"Repository name filter","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search_bitbucketserver_repos","content":{"application/json":{"schema":{}}}}}}},"/api/alm_integrations/search_gitlab_repos":{"get":{"parameters":[{"name":"almSetting","in":"query","description":"DevOps Platform setting key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"p","in":"query","description":"1-based page number","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectName","in":"query","description":"Project name filter","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 500","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search_gitlab_repos","content":{"application/json":{"schema":{}}}}}}},"/api/alm_integrations/set_pat":{"post":{"parameters":[{"name":"almSetting","in":"query","description":"DevOps Platform configuration key. This parameter is optional if you have only one single DevOps Platform integration.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pat","in":"query","description":"Personal Access Token","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"username","in":"query","description":"Username","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_pat","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/count_binding":{"get":{"parameters":[{"name":"almSetting","in":"query","description":"DevOps Platform setting key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to count_binding","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/create_azure":{"post":{"parameters":[{"name":"key","in":"query","description":"Unique key of the Azure Devops instance setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"personalAccessToken","in":"query","description":"Azure Devops personal access token","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"url","in":"query","description":"Azure API URL","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to create_azure","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/create_bitbucket":{"post":{"parameters":[{"name":"key","in":"query","description":"Unique key of the Bitbucket instance setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"personalAccessToken","in":"query","description":"Bitbucket personal access token","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"url","in":"query","description":"BitBucket server API URL","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to create_bitbucket","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/create_bitbucketcloud":{"post":{"parameters":[{"name":"clientId","in":"query","description":"Bitbucket Cloud Client ID","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"clientSecret","in":"query","description":"Bitbucket Cloud Client Secret","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"Unique key of the Bitbucket Cloud setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"workspace","in":"query","description":"Bitbucket Cloud workspace ID","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to create_bitbucketcloud","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/create_github":{"post":{"parameters":[{"name":"appId","in":"query","description":"GitHub App ID","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"clientId","in":"query","description":"GitHub App Client ID","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"clientSecret","in":"query","description":"GitHub App Client Secret","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"Unique key of the GitHub instance setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"privateKey","in":"query","description":"GitHub App private key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"url","in":"query","description":"GitHub API URL","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"webhookSecret","in":"query","description":"GitHub App Webhook Secret","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to create_github","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/create_gitlab":{"post":{"parameters":[{"name":"key","in":"query","description":"Unique key of the GitLab instance setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"personalAccessToken","in":"query","description":"GitLab personal access token","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"url","in":"query","description":"GitLab API URL","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to create_gitlab","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/delete":{"post":{"parameters":[{"name":"key","in":"query","description":"DevOps Platform Setting key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to delete","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/delete_binding":{"post":{"parameters":[{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to delete_binding","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/get_binding":{"get":{"parameters":[{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to get_binding","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/list":{"get":{"parameters":[{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to list","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/list_definitions":{"get":{"responses":{"2XX":{"description":"Response to list_definitions","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/set_azure_binding":{"post":{"parameters":[{"name":"almSetting","in":"query","description":"Azure DevOps setting key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"monorepo","in":"query","description":"Is this project part of a monorepo","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"SonarQube project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectName","in":"query","description":"Azure project name","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"repositoryName","in":"query","description":"Azure repository name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_azure_binding","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/set_bitbucket_binding":{"post":{"parameters":[{"name":"almSetting","in":"query","description":"Bitbucket Server setting key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"monorepo","in":"query","description":"Is this project part of a monorepo","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"repository","in":"query","description":"Bitbucket Server repository key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"slug","in":"query","description":"Bitbucket repository slug","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_bitbucket_binding","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/set_bitbucketcloud_binding":{"post":{"parameters":[{"name":"almSetting","in":"query","description":"Bitbucket Cloud setting key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"monorepo","in":"query","description":"Is this project part of a monorepo","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"repository","in":"query","description":"Bitbucket Cloud repository key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_bitbucketcloud_binding","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/set_github_binding":{"post":{"parameters":[{"name":"almSetting","in":"query","description":"GitHub setting key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"monorepo","in":"query","description":"Is this project part of a monorepo","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"repository","in":"query","description":"GitHub Repository","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"summaryCommentEnabled","in":"query","description":"Enable/disable summary in PR discussion tab","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_github_binding","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/set_gitlab_binding":{"post":{"parameters":[{"name":"almSetting","in":"query","description":"GitLab setting key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"monorepo","in":"query","description":"Is this project part of a monorepo","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"repository","in":"query","description":"GitLab project ID","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_gitlab_binding","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/update_azure":{"post":{"parameters":[{"name":"key","in":"query","description":"Unique key of the Azure instance setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newKey","in":"query","description":"Optional new value for an unique key of the Azure Devops instance setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"personalAccessToken","in":"query","description":"Azure Devops personal access token","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"url","in":"query","description":"Azure API URL","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to update_azure","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/update_bitbucket":{"post":{"parameters":[{"name":"key","in":"query","description":"Unique key of the Bitbucket instance setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newKey","in":"query","description":"Optional new value for an unique key of the Bitbucket instance setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"personalAccessToken","in":"query","description":"Bitbucket personal access token","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"url","in":"query","description":"Bitbucket API URL","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to update_bitbucket","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/update_bitbucketcloud":{"post":{"parameters":[{"name":"clientId","in":"query","description":"Bitbucket Cloud Client ID","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"clientSecret","in":"query","description":"Optional new value for the Bitbucket Cloud client secret","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"Unique key of the Bitbucket Cloud setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newKey","in":"query","description":"Optional new value for an unique key of the Bitbucket Cloud setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"workspace","in":"query","description":"Bitbucket Cloud workspace ID","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to update_bitbucketcloud","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/update_github":{"post":{"parameters":[{"name":"appId","in":"query","description":"GitHub API ID","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"clientId","in":"query","description":"GitHub App Client ID","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"clientSecret","in":"query","description":"GitHub App Client Secret","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"Unique key of the GitHub instance setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newKey","in":"query","description":"Optional new value for an unique key of the GitHub instance setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"privateKey","in":"query","description":"GitHub App private key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"url","in":"query","description":"GitHub API URL","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"webhookSecret","in":"query","description":"GitHub App Webhook Secret","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to update_github","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/update_gitlab":{"post":{"parameters":[{"name":"key","in":"query","description":"Unique key of the GitLab instance setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newKey","in":"query","description":"Optional new value for an unique key of the GitLab instance setting","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"personalAccessToken","in":"query","description":"GitLab personal access token","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"url","in":"query","description":"GitLab API URL","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to update_gitlab","content":{"application/json":{"schema":{}}}}}}},"/api/alm_settings/validate":{"get":{"parameters":[{"name":"key","in":"query","description":"Unique key of the DevOps Platform settings","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to validate","content":{"application/json":{"schema":{}}}}}}},"/api/analysis_cache/get":{"get":{"parameters":[{"name":"branch","in":"query","description":"Branch key. If not provided, main branch will be used.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to get","content":{"application/json":{"schema":{}}}}}}},"/api/applications/add_project":{"post":{"parameters":[{"name":"application","in":"query","description":"Key of the application","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Key of the project","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to add_project","content":{"application/json":{"schema":{}}}}}}},"/api/applications/create":{"post":{"parameters":[{"name":"description","in":"query","description":"Application description","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"Application key. A suitable key will be generated if not provided","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Application name","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"visibility","in":"query","description":"Whether the created application should be visible to everyone, or only specific user/groups.\u003cbr/\u003eIf no visibility is specified, the default visibility will be used.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to create","content":{"application/json":{"schema":{}}}}}}},"/api/applications/create_branch":{"post":{"parameters":[{"name":"application","in":"query","description":"Application key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"branch","in":"query","description":"Branch name","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project keys. To set several values, the parameter must be called once for each value.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectBranch","in":"query","description":"Project branches. To set main branch, provide an empty value. To set several values, the parameter must be called once for each value.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to create_branch","content":{"application/json":{"schema":{}}}}}}},"/api/applications/delete":{"post":{"parameters":[{"name":"application","in":"query","description":"Application key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to delete","content":{"application/json":{"schema":{}}}}}}},"/api/applications/delete_branch":{"post":{"parameters":[{"name":"application","in":"query","description":"Application key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"branch","in":"query","description":"Branch name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to delete_branch","content":{"application/json":{"schema":{}}}}}}},"/api/applications/remove_project":{"post":{"parameters":[{"name":"application","in":"query","description":"Key of the application","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Key of the project","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to remove_project","content":{"application/json":{"schema":{}}}}}}},"/api/applications/set_tags":{"post":{"parameters":[{"name":"application","in":"query","description":"Application key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Comma-separated list of tags","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_tags","content":{"application/json":{"schema":{}}}}}}},"/api/applications/show":{"get":{"parameters":[{"name":"application","in":"query","description":"Application key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"branch","in":"query","description":"Branch name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to show","content":{"application/json":{"schema":{}}}}}}},"/api/applications/update":{"post":{"parameters":[{"name":"application","in":"query","description":"Application key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"description","in":"query","description":"New description for the application","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"New name for the application","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to update","content":{"application/json":{"schema":{}}}}}}},"/api/applications/update_branch":{"post":{"parameters":[{"name":"application","in":"query","description":"Application key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"branch","in":"query","description":"Branch name","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"New branch name","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project keys. To set several values, the parameter must be called once for each value.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectBranch","in":"query","description":"Project branches. To set main branch, provide an empty value. To set several values, the parameter must be called once for each value.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to update_branch","content":{"application/json":{"schema":{}}}}}}},"/api/audit_logs/download":{"get":{"parameters":[{"name":"from","in":"query","description":"Date in ISO 8601 datetime format (YYYY-MM-DDThh:mm:ss±hh:mm) from which the logs will be returned. Inclusive.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"to","in":"query","description":"Date in ISO 8601 datetime format (YYYY-MM-DDThh:mm:ss±hh:mm) until which the logs will be returned. Inclusive.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to download","content":{"application/json":{"schema":{}}}}}}},"/api/authentication/login":{"post":{"parameters":[{"name":"login","in":"query","description":"Login of the user","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"password","in":"query","description":"Password of the user","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to login","content":{"application/json":{"schema":{}}}}}}},"/api/authentication/logout":{"post":{"responses":{"2XX":{"description":"Response to logout","content":{"application/json":{"schema":{}}}}}}},"/api/authentication/validate":{"get":{"responses":{"2XX":{"description":"Response to validate","content":{"application/json":{"schema":{}}}}}}},"/api/ce/activity":{"get":{"parameters":[{"name":"component","in":"query","description":"Key of the component (project) to filter on","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"maxExecutedAt","in":"query","description":"Maximum date of end of task processing (inclusive)","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"minSubmittedAt","in":"query","description":"Minimum date of task submission (inclusive)","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"onlyCurrents","in":"query","description":"Filter on the last tasks (only the most recent finished task by project)","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"p","in":"query","description":"1-based page number","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 1000","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Limit search to: \u003cul\u003e\u003cli\u003ecomponent names that contain the supplied string\u003c/li\u003e\u003cli\u003ecomponent keys that are exactly the same as the supplied string\u003c/li\u003e\u003cli\u003etask ids that are exactly the same as the supplied string\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Comma separated list of task statuses","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Task type","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to activity","content":{"application/json":{"schema":{}}}}}}},"/api/ce/activity_status":{"get":{"parameters":[{"name":"component","in":"query","description":"Key of the component (project) to filter on","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to activity_status","content":{"application/json":{"schema":{}}}}}}},"/api/ce/component":{"get":{"parameters":[{"name":"component","in":"query","description":"","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to component","content":{"application/json":{"schema":{}}}}}}},"/api/ce/task":{"get":{"parameters":[{"name":"additionalFields","in":"query","description":"Comma-separated list of the optional fields to be returned in response.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"id","in":"query","description":"Id of task","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to task","content":{"application/json":{"schema":{}}}}}}},"/api/components/search":{"get":{"parameters":[{"name":"p","in":"query","description":"1-based page number","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 500","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Limit search to: \u003cul\u003e\u003cli\u003ecomponent names that contain the supplied string\u003c/li\u003e\u003cli\u003ecomponent keys that are exactly the same as the supplied string\u003c/li\u003e\u003c/ul\u003e\u003cbr\u003eThe value length of the param must be between 2 and 15 (inclusive) characters. In case longer value is provided it will be truncated.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"qualifiers","in":"query","description":"Comma-separated list of component qualifiers. Filter the results with the specified qualifiers. Possible values are:\u003cul\u003e\u003cli\u003eAPP - Applications\u003c/li\u003e\u003cli\u003eVW - Portfolios\u003c/li\u003e\u003cli\u003eSVW - Portfolios\u003c/li\u003e\u003cli\u003eTRK - Projects\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search","content":{"application/json":{"schema":{}}}}}}},"/api/components/show":{"get":{"parameters":[{"name":"branch","in":"query","description":"Branch key. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"component","in":"query","description":"Component key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pullRequest","in":"query","description":"Pull request id. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to show","content":{"application/json":{"schema":{}}}}}}},"/api/components/tree":{"get":{"parameters":[{"name":"asc","in":"query","description":"Ascending sort","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"branch","in":"query","description":"Branch key. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"component","in":"query","description":"Base component key. The search is based on this component.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"p","in":"query","description":"1-based page number","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 500","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pullRequest","in":"query","description":"Pull request id. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Limit search to: \u003cul\u003e\u003cli\u003ecomponent names that contain the supplied string\u003c/li\u003e\u003cli\u003ecomponent keys that are exactly the same as the supplied string\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"qualifiers","in":"query","description":"Comma-separated list of component qualifiers. Filter the results with the specified qualifiers. Possible values are:\u003cul\u003e\u003cli\u003eAPP - Applications\u003c/li\u003e\u003cli\u003eVW - Portfolios\u003c/li\u003e\u003cli\u003eSVW - Portfolios\u003c/li\u003e\u003cli\u003eUTS - Test Files\u003c/li\u003e\u003cli\u003eFIL - Files\u003c/li\u003e\u003cli\u003eDIR - Directories\u003c/li\u003e\u003cli\u003eTRK - Projects\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"s","in":"query","description":"Comma-separated list of sort fields","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"strategy","in":"query","description":"Strategy to search for base component descendants:\u003cul\u003e\u003cli\u003echildren: return the children components of the base component. Grandchildren components are not returned\u003c/li\u003e\u003cli\u003eall: return all the descendants components of the base component. Grandchildren are returned.\u003c/li\u003e\u003cli\u003eleaves: return all the descendant components (files, in general) which don't have other children. They are the leaves of the component tree.\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to tree","content":{"application/json":{"schema":{}}}}}}},"/api/duplications/show":{"get":{"parameters":[{"name":"key","in":"query","description":"File key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to show","content":{"application/json":{"schema":{}}}}}}},"/api/editions/activate_grace_period":{"post":{"responses":{"2XX":{"description":"Response to activate_grace_period","content":{"application/json":{"schema":{}}}}}}},"/api/editions/set_license":{"post":{"parameters":[{"name":"license","in":"query","description":"","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_license","content":{"application/json":{"schema":{}}}}}}},"/api/favorites/add":{"post":{"parameters":[{"name":"component","in":"query","description":"Component key. Only components with qualifiers TRK, VW, SVW, APP are supported","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to add","content":{"application/json":{"schema":{}}}}}}},"/api/favorites/remove":{"post":{"parameters":[{"name":"component","in":"query","description":"Component key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to remove","content":{"application/json":{"schema":{}}}}}}},"/api/favorites/search":{"get":{"parameters":[{"name":"p","in":"query","description":"1-based page number","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 500","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search","content":{"application/json":{"schema":{}}}}}}},"/api/hotspots/change_status":{"post":{"parameters":[{"name":"comment","in":"query","description":"Comment text.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"hotspot","in":"query","description":"Key of the Security Hotspot","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"Resolution of the Security Hotspot when new status is REVIEWED, otherwise must not be set.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"status","in":"query","description":"New status of the Security Hotspot.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to change_status","content":{"application/json":{"schema":{}}}}}}},"/api/hotspots/search":{"get":{"parameters":[{"name":"branch","in":"query","description":"Branch key. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"cwe","in":"query","description":"Comma-separated list of CWE numbers","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"files","in":"query","description":"Comma-separated list of files. Returns only hotspots found in those files","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"hotspots","in":"query","description":"Comma-separated list of Security Hotspot keys. This parameter is required unless project is provided.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"inNewCodePeriod","in":"query","description":"If 'inNewCodePeriod' is provided, only Security Hotspots created in the new code period are returned.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"onlyMine","in":"query","description":"If 'projectKey' is provided, returns only Security Hotspots assigned to the current user","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"owaspAsvs-4.0","in":"query","description":"Comma-separated list of OWASP ASVS v4.0 categories or rules.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"owaspAsvsLevel","in":"query","description":"Filters hotspots with lower or equal OWASP ASVS level to the parameter value. Should be used in combination with the 'owaspAsvs-4.0' parameter.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"owaspTop10","in":"query","description":"Comma-separated list of OWASP 2017 Top 10 lowercase categories.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"owaspTop10-2021","in":"query","description":"Comma-separated list of OWASP 2021 Top 10 lowercase categories.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"p","in":"query","description":"1-based page number","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pciDss-3.2","in":"query","description":"Comma-separated list of PCI DSS v3.2 categories.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pciDss-4.0","in":"query","description":"Comma-separated list of PCI DSS v4.0 categories.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Key of the project or application. This parameter is required unless hotspots is provided.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pullRequest","in":"query","description":"Pull request id. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"If 'project' is provided and if status is 'REVIEWED', only Security Hotspots with the specified resolution are returned.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"sansTop25","in":"query","description":"Comma-separated list of SANS Top 25 categories.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"sonarsourceSecurity","in":"query","description":"Comma-separated list of SonarSource security categories. Use 'others' to select issues not associated with any category","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"status","in":"query","description":"If 'project' is provided, only Security Hotspots with the specified status are returned.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search","content":{"application/json":{"schema":{}}}}}}},"/api/hotspots/show":{"get":{"parameters":[{"name":"hotspot","in":"query","description":"Key of the Security Hotspot","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to show","content":{"application/json":{"schema":{}}}}}}},"/api/issues/add_comment":{"post":{"parameters":[{"name":"issue","in":"query","description":"Issue key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"text","in":"query","description":"Comment text","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to add_comment","content":{"application/json":{"schema":{}}}}}}},"/api/issues/assign":{"post":{"parameters":[{"name":"assignee","in":"query","description":"Login of the assignee. When not set, it will unassign the issue. Use '_me' to assign to current user","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"issue","in":"query","description":"Issue key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to assign","content":{"application/json":{"schema":{}}}}}}},"/api/issues/authors":{"get":{"parameters":[{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 100","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Limit search to authors that contain the supplied string.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to authors","content":{"application/json":{"schema":{}}}}}}},"/api/issues/bulk_change":{"post":{"parameters":[{"name":"add_tags","in":"query","description":"Add tags","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"assign","in":"query","description":"To assign the list of issues to a specific user (login), or un-assign all the issues","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"comment","in":"query","description":"Add a comment. The comment will only be added to issues that are affected either by a change of type or a change of severity as a result of the same WS call.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"do_transition","in":"query","description":"Transition","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"issues","in":"query","description":"Comma-separated list of issue keys","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"remove_tags","in":"query","description":"Remove tags","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"sendNotifications","in":"query","description":"","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"set_severity","in":"query","description":"To change the severity of the list of issues","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"set_type","in":"query","description":"To change the type of the list of issues","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to bulk_change","content":{"application/json":{"schema":{}}}}}}},"/api/issues/changelog":{"get":{"parameters":[{"name":"issue","in":"query","description":"Issue key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to changelog","content":{"application/json":{"schema":{}}}}}}},"/api/issues/delete_comment":{"post":{"parameters":[{"name":"comment","in":"query","description":"Comment key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to delete_comment","content":{"application/json":{"schema":{}}}}}}},"/api/issues/do_transition":{"post":{"parameters":[{"name":"issue","in":"query","description":"Issue key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"transition","in":"query","description":"Transition","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to do_transition","content":{"application/json":{"schema":{}}}}}}},"/api/issues/edit_comment":{"post":{"parameters":[{"name":"comment","in":"query","description":"Comment key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"text","in":"query","description":"Comment text","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to edit_comment","content":{"application/json":{"schema":{}}}}}}},"/api/issues/gitlab_sast_export":{"get":{"parameters":[{"name":"branch","in":"query","description":"Branch key.If this parameter is set, pullRequest must not be set.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectKey","in":"query","description":"The project key for which the vulnerabilities are being fetched","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pullRequest","in":"query","description":"Pull request id.If this parameter is set, branch must not be set.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to gitlab_sast_export","content":{"application/json":{"schema":{}}}}}}},"/api/issues/reindex":{"post":{"parameters":[{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to reindex","content":{"application/json":{"schema":{}}}}}}},"/api/issues/search":{"get":{"parameters":[{"name":"additionalFields","in":"query","description":"Comma-separated list of the optional fields to be returned in response. Action plans are dropped in 5.5, it is not returned in the response.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"asc","in":"query","description":"Ascending sort","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"assigned","in":"query","description":"To retrieve assigned or unassigned issues","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"assignees","in":"query","description":"Comma-separated list of assignee logins. The value '__me__' can be used as a placeholder for user who performs the request","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"author","in":"query","description":"SCM accounts. To set several values, the parameter must be called once for each value.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"branch","in":"query","description":"Branch key. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"cleanCodeAttributeCategories","in":"query","description":"Comma-separated list of Clean Code Attribute Categories","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"codeVariants","in":"query","description":"Comma-separated list of code variants.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"components","in":"query","description":"Comma-separated list of component keys. Retrieve issues associated to a specific list of components (and all its descendants). A component can be a portfolio, project, module, directory or file.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"createdAfter","in":"query","description":"To retrieve issues created after the given date (inclusive). \u003cbr\u003eEither a date (use 'timeZone' attribute or it will default to server timezone) or datetime can be provided. \u003cbr\u003eIf this parameter is set, createdInLast must not be set","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"createdAt","in":"query","description":"Datetime to retrieve issues created during a specific analysis","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"createdBefore","in":"query","description":"To retrieve issues created before the given date (exclusive). \u003cbr\u003eEither a date (use 'timeZone' attribute or it will default to server timezone) or datetime can be provided.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"createdInLast","in":"query","description":"To retrieve issues created during a time span before the current time (exclusive). Accepted units are 'y' for year, 'm' for month, 'w' for week and 'd' for day. If this parameter is set, createdAfter must not be set","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"cwe","in":"query","description":"Comma-separated list of CWE identifiers. Use 'unknown' to select issues not associated to any CWE.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"facets","in":"query","description":"Comma-separated list of the facets to be computed. No facet is computed by default.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"fixedInPullRequest","in":"query","description":"Pull request id to filter issues that would be fixed in the specified project or branch by the pull request. Should not be used together with + 'pullRequest'. At least the 'components' must be be specified when this param is used.  Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"impactSeverities","in":"query","description":"Comma-separated list of Software Quality Severities","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"impactSoftwareQualities","in":"query","description":"Comma-separated list of Software Qualities","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"inNewCodePeriod","in":"query","description":"To retrieve issues created in the new code period.\u003cbr\u003eIf this parameter is set to a truthy value, createdAfter must not be set and one component uuid or key must be provided.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"issueStatuses","in":"query","description":"","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"issues","in":"query","description":"Comma-separated list of issue keys","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"languages","in":"query","description":"Comma-separated list of languages. Available since 4.4","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"onComponentOnly","in":"query","description":"Return only issues at a component's level, not on its descendants (modules, directories, files, etc). This parameter is only considered when componentKeys is set.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"owaspAsvs-4.0","in":"query","description":"Comma-separated list of OWASP ASVS v4.0 categories.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"owaspAsvsLevel","in":"query","description":"Level of OWASP ASVS categories.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"owaspTop10","in":"query","description":"Comma-separated list of OWASP Top 10 2017 lowercase categories.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"owaspTop10-2021","in":"query","description":"Comma-separated list of OWASP Top 10 2021 lowercase categories.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"p","in":"query","description":"1-based page number","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pciDss-3.2","in":"query","description":"Comma-separated list of PCI DSS v3.2 categories.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pciDss-4.0","in":"query","description":"Comma-separated list of PCI DSS v4.0 categories.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 500","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pullRequest","in":"query","description":"Pull request id. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"resolutions","in":"query","description":"Comma-separated list of resolutions","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"resolved","in":"query","description":"To match resolved or unresolved issues","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"rules","in":"query","description":"Comma-separated list of coding rule keys. Format is \u0026lt;repository\u0026gt;:\u0026lt;rule\u0026gt;","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"s","in":"query","description":"Sort field","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"sansTop25","in":"query","description":"Comma-separated list of SANS Top 25 categories.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"scopes","in":"query","description":"Comma-separated list of scopes. Available since 8.5","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"severities","in":"query","description":"Comma-separated list of severities","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"sonarsourceSecurity","in":"query","description":"Comma-separated list of SonarSource security categories. Use 'others' to select issues not associated with any category","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"statuses","in":"query","description":"Comma-separated list of statuses","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Comma-separated list of tags.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"timeZone","in":"query","description":"To resolve dates passed to 'createdAfter' or 'createdBefore' (does not apply to datetime) and to compute creation date histogram","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"types","in":"query","description":"Comma-separated list of types.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search","content":{"application/json":{"schema":{}}}}}}},"/api/issues/set_severity":{"post":{"parameters":[{"name":"issue","in":"query","description":"Issue key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"severity","in":"query","description":"New severity","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_severity","content":{"application/json":{"schema":{}}}}}}},"/api/issues/set_tags":{"post":{"parameters":[{"name":"issue","in":"query","description":"Issue key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Comma-separated list of tags. All tags are removed if parameter is empty or not set.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_tags","content":{"application/json":{"schema":{}}}}}}},"/api/issues/set_type":{"post":{"parameters":[{"name":"issue","in":"query","description":"Issue key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"New type","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_type","content":{"application/json":{"schema":{}}}}}}},"/api/issues/tags":{"get":{"parameters":[{"name":"all","in":"query","description":"Indicator to search for all tags or only for tags in the main branch of a project","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"branch","in":"query","description":"Branch key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 500","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Limit search to tags that contain the supplied string.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to tags","content":{"application/json":{"schema":{}}}}}}},"/api/languages/list":{"get":{"parameters":[{"name":"ps","in":"query","description":"The size of the list to return, 0 for all languages","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"A pattern to match language keys/names against","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to list","content":{"application/json":{"schema":{}}}}}}},"/api/measures/component":{"get":{"parameters":[{"name":"additionalFields","in":"query","description":"Comma-separated list of additional fields that can be returned in the response.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"branch","in":"query","description":"Branch key. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"component","in":"query","description":"Component key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"metricKeys","in":"query","description":"Comma-separated list of metric keys","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pullRequest","in":"query","description":"Pull request id. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to component","content":{"application/json":{"schema":{}}}}}}},"/api/measures/component_tree":{"get":{"parameters":[{"name":"additionalFields","in":"query","description":"Comma-separated list of additional fields that can be returned in the response.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"asc","in":"query","description":"Ascending sort","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"branch","in":"query","description":"Branch key. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"component","in":"query","description":"Component key. The search is based on this component.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"metricKeys","in":"query","description":"Comma-separated list of metric keys. Types DISTRIB are not allowed. For type DATA only maintainability_issues, reliability_issues, new_maintainability_issues, new_security_issues, new_reliability_issues, security_issues metrics are supported","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"metricPeriodSort","in":"query","description":"Sort measures by leak period or not ?. The 's' parameter must contain the 'metricPeriod' value.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"metricSort","in":"query","description":"Metric key to sort by. The 's' parameter must contain the 'metric' or 'metricPeriod' value. It must be part of the 'metricKeys' parameter","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"metricSortFilter","in":"query","description":"Filter components. Sort must be on a metric. Possible values are: \u003cul\u003e\u003cli\u003eall: return all components\u003c/li\u003e\u003cli\u003ewithMeasuresOnly: filter out components that do not have a measure on the sorted metric\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"p","in":"query","description":"1-based page number","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 500","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pullRequest","in":"query","description":"Pull request id. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Limit search to: \u003cul\u003e\u003cli\u003ecomponent names that contain the supplied string\u003c/li\u003e\u003cli\u003ecomponent keys that are exactly the same as the supplied string\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"qualifiers","in":"query","description":"Comma-separated list of component qualifiers. Filter the results with the specified qualifiers. Possible values are:\u003cul\u003e\u003cli\u003eAPP - Applications\u003c/li\u003e\u003cli\u003eVW - Portfolios\u003c/li\u003e\u003cli\u003eSVW - Portfolios\u003c/li\u003e\u003cli\u003eUTS - Test Files\u003c/li\u003e\u003cli\u003eFIL - Files\u003c/li\u003e\u003cli\u003eDIR - Directories\u003c/li\u003e\u003cli\u003eTRK - Projects\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"s","in":"query","description":"Comma-separated list of sort fields","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"strategy","in":"query","description":"Strategy to search for base component descendants:\u003cul\u003e\u003cli\u003echildren: return the children components of the base component. Grandchildren components are not returned\u003c/li\u003e\u003cli\u003eall: return all the descendants components of the base component. Grandchildren are returned.\u003c/li\u003e\u003cli\u003eleaves: return all the descendant components (files, in general) which don't have other children. They are the leaves of the component tree.\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to component_tree","content":{"application/json":{"schema":{}}}}}}},"/api/measures/search_history":{"get":{"parameters":[{"name":"branch","in":"query","description":"Branch key. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"component","in":"query","description":"Component key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Filter measures created after the given date (inclusive). \u003cbr\u003eEither a date (server timezone) or datetime can be provided","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"metrics","in":"query","description":"Comma-separated list of metric keys","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"p","in":"query","description":"1-based page number","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 1000","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pullRequest","in":"query","description":"Pull request id. Not available in the community edition.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"to","in":"query","description":"Filter measures created before the given date (inclusive). \u003cbr\u003eEither a date (server timezone) or datetime can be provided","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search_history","content":{"application/json":{"schema":{}}}}}}},"/api/metrics/search":{"get":{"parameters":[{"name":"p","in":"query","description":"1-based page number","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 500","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search","content":{"application/json":{"schema":{}}}}}}},"/api/metrics/types":{"get":{"responses":{"2XX":{"description":"Response to types","content":{"application/json":{"schema":{}}}}}}},"/api/monitoring/metrics":{"get":{"responses":{"2XX":{"description":"Response to metrics","content":{"application/json":{"schema":{}}}}}}},"/api/new_code_periods/list":{"get":{"parameters":[{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to list","content":{"application/json":{"schema":{}}}}}}},"/api/new_code_periods/set":{"post":{"parameters":[{"name":"branch","in":"query","description":"Branch key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Type\u003cbr/\u003eNew code definitions of the following types are allowed:\u003cul\u003e\u003cli\u003eSPECIFIC_ANALYSIS - can be set at branch level only\u003c/li\u003e\u003cli\u003ePREVIOUS_VERSION - can be set at any level (global, project, branch)\u003c/li\u003e\u003cli\u003eNUMBER_OF_DAYS - can be set at any level (global, project, branch)\u003c/li\u003e\u003cli\u003eREFERENCE_BRANCH - can only be set for projects and branches\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"value","in":"query","description":"Value\u003cbr/\u003eFor each type, a different value is expected:\u003cul\u003e\u003cli\u003ethe uuid of an analysis, when type is SPECIFIC_ANALYSIS\u003c/li\u003e\u003cli\u003eno value, when type is PREVIOUS_VERSION\u003c/li\u003e\u003cli\u003ea number between 1 and 90, when type is NUMBER_OF_DAYS\u003c/li\u003e\u003cli\u003ea string, when type is REFERENCE_BRANCH\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set","content":{"application/json":{"schema":{}}}}}}},"/api/new_code_periods/show":{"get":{"parameters":[{"name":"branch","in":"query","description":"Branch key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to show","content":{"application/json":{"schema":{}}}}}}},"/api/new_code_periods/unset":{"post":{"parameters":[{"name":"branch","in":"query","description":"Branch key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to unset","content":{"application/json":{"schema":{}}}}}}},"/api/notifications/add":{"post":{"parameters":[{"name":"channel","in":"query","description":"Channel through which the notification is sent. For example, notifications can be sent by email.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"login","in":"query","description":"User login","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Notification type. Possible values are for:\u003cul\u003e  \u003cli\u003eGlobal notifications: CeReportTaskFailure, ChangesOnMyIssue, NewAlerts, SQ-MyNewIssues\u003c/li\u003e  \u003cli\u003ePer project notifications: CeReportTaskFailure, ChangesOnMyIssue, NewAlerts, NewFalsePositiveIssue, NewIssues, SQ-MyNewIssues\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to add","content":{"application/json":{"schema":{}}}}}}},"/api/notifications/list":{"get":{"parameters":[{"name":"login","in":"query","description":"User login","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to list","content":{"application/json":{"schema":{}}}}}}},"/api/notifications/remove":{"post":{"parameters":[{"name":"channel","in":"query","description":"Channel through which the notification is sent. For example, notifications can be sent by email.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"login","in":"query","description":"User login","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"Notification type. Possible values are for:\u003cul\u003e  \u003cli\u003eGlobal notifications: CeReportTaskFailure, ChangesOnMyIssue, NewAlerts, SQ-MyNewIssues\u003c/li\u003e  \u003cli\u003ePer project notifications: CeReportTaskFailure, ChangesOnMyIssue, NewAlerts, NewFalsePositiveIssue, NewIssues, SQ-MyNewIssues\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to remove","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/add_group":{"post":{"parameters":[{"name":"groupName","in":"query","description":"Group name or 'anyone' (case insensitive)","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"permission","in":"query","description":"The permission you would like to grant to the group.\u003cul\u003e\u003cli\u003ePossible values for global permissions: admin, gateadmin, profileadmin, provisioning, scan, applicationcreator, portfoliocreator\u003c/li\u003e\u003cli\u003ePossible values for project permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectId","in":"query","description":"Project id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectKey","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to add_group","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/add_group_to_template":{"post":{"parameters":[{"name":"groupName","in":"query","description":"Group name or 'anyone' (case insensitive)","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"permission","in":"query","description":"Permission\u003cul\u003e\u003cli\u003ePossible values for project permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateId","in":"query","description":"Template id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateName","in":"query","description":"Template name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to add_group_to_template","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/add_project_creator_to_template":{"post":{"parameters":[{"name":"permission","in":"query","description":"Permission\u003cul\u003e\u003cli\u003ePossible values for project permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateId","in":"query","description":"Template id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateName","in":"query","description":"Template name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to add_project_creator_to_template","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/add_user":{"post":{"parameters":[{"name":"login","in":"query","description":"User login","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"permission","in":"query","description":"The permission you would like to grant to the user\u003cul\u003e\u003cli\u003ePossible values for global permissions: admin, gateadmin, profileadmin, provisioning, scan, applicationcreator, portfoliocreator\u003c/li\u003e\u003cli\u003ePossible values for project permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectId","in":"query","description":"Project id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectKey","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to add_user","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/add_user_to_template":{"post":{"parameters":[{"name":"login","in":"query","description":"User login","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"permission","in":"query","description":"Permission\u003cul\u003e\u003cli\u003ePossible values for project permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateId","in":"query","description":"Template id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateName","in":"query","description":"Template name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to add_user_to_template","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/apply_template":{"post":{"parameters":[{"name":"projectId","in":"query","description":"Project id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectKey","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateId","in":"query","description":"Template id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateName","in":"query","description":"Template name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to apply_template","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/bulk_apply_template":{"post":{"parameters":[{"name":"analyzedBefore","in":"query","description":"Filter the projects for which last analysis is older than the given date (exclusive).\u003cbr\u003e Either a date (server timezone) or datetime can be provided.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"onProvisionedOnly","in":"query","description":"Filter the projects that are provisioned","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projects","in":"query","description":"Comma-separated list of project keys","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Limit search to: \u003cul\u003e\u003cli\u003eproject names that contain the supplied string\u003c/li\u003e\u003cli\u003eproject keys that are exactly the same as the supplied string\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"qualifiers","in":"query","description":"Comma-separated list of component qualifiers. Filter the results with the specified qualifiers. Possible values are:\u003cul\u003e\u003cli\u003eAPP - Applications\u003c/li\u003e\u003cli\u003eTRK - Projects\u003c/li\u003e\u003cli\u003eVW - Portfolios\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateId","in":"query","description":"Template id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateName","in":"query","description":"Template name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to bulk_apply_template","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/create_template":{"post":{"parameters":[{"name":"description","in":"query","description":"Description","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Name","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectKeyPattern","in":"query","description":"Project key pattern. Must be a valid Java regular expression","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to create_template","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/delete_template":{"post":{"parameters":[{"name":"templateId","in":"query","description":"Template id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateName","in":"query","description":"Template name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to delete_template","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/remove_group":{"post":{"parameters":[{"name":"groupName","in":"query","description":"Group name or 'anyone' (case insensitive)","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"permission","in":"query","description":"The permission you would like to revoke from the group.\u003cul\u003e\u003cli\u003ePossible values for global permissions: admin, gateadmin, profileadmin, provisioning, scan, applicationcreator, portfoliocreator\u003c/li\u003e\u003cli\u003ePossible values for project permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectId","in":"query","description":"Project id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectKey","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to remove_group","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/remove_group_from_template":{"post":{"parameters":[{"name":"groupName","in":"query","description":"Group name or 'anyone' (case insensitive)","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"permission","in":"query","description":"Permission\u003cul\u003e\u003cli\u003ePossible values for project permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateId","in":"query","description":"Template id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateName","in":"query","description":"Template name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to remove_group_from_template","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/remove_project_creator_from_template":{"post":{"parameters":[{"name":"permission","in":"query","description":"Permission\u003cul\u003e\u003cli\u003ePossible values for project permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateId","in":"query","description":"Template id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateName","in":"query","description":"Template name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to remove_project_creator_from_template","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/remove_user":{"post":{"parameters":[{"name":"login","in":"query","description":"User login","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"permission","in":"query","description":"The permission you would like to revoke from the user.\u003cul\u003e\u003cli\u003ePossible values for global permissions: admin, gateadmin, profileadmin, provisioning, scan, applicationcreator, portfoliocreator\u003c/li\u003e\u003cli\u003ePossible values for project permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectId","in":"query","description":"Project id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectKey","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to remove_user","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/remove_user_from_template":{"post":{"parameters":[{"name":"login","in":"query","description":"User login","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"permission","in":"query","description":"Permission\u003cul\u003e\u003cli\u003ePossible values for project permissions admin, codeviewer, issueadmin, securityhotspotadmin, scan, user\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateId","in":"query","description":"Template id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateName","in":"query","description":"Template name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to remove_user_from_template","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/search_templates":{"get":{"parameters":[{"name":"q","in":"query","description":"Limit search to permission template names that contain the supplied string.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search_templates","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/set_default_template":{"post":{"parameters":[{"name":"qualifier","in":"query","description":"Project qualifier. Filter the results with the specified qualifier. Possible values are:\u003cul\u003e\u003cli\u003eAPP - Applications\u003c/li\u003e\u003cli\u003eTRK - Projects\u003c/li\u003e\u003cli\u003eVW - Portfolios\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateId","in":"query","description":"Template id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"templateName","in":"query","description":"Template name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_default_template","content":{"application/json":{"schema":{}}}}}}},"/api/permissions/update_template":{"post":{"parameters":[{"name":"description","in":"query","description":"Description","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"id","in":"query","description":"Id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Name","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectKeyPattern","in":"query","description":"Project key pattern. Must be a valid Java regular expression","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to update_template","content":{"application/json":{"schema":{}}}}}}},"/api/plugins/available":{"get":{"responses":{"2XX":{"description":"Response to available","content":{"application/json":{"schema":{}}}}}}},"/api/plugins/cancel_all":{"post":{"responses":{"2XX":{"description":"Response to cancel_all","content":{"application/json":{"schema":{}}}}}}},"/api/plugins/install":{"post":{"parameters":[{"name":"key","in":"query","description":"The key identifying the plugin to install","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to install","content":{"application/json":{"schema":{}}}}}}},"/api/plugins/installed":{"get":{"parameters":[{"name":"f","in":"query","description":"Comma-separated list of the additional fields to be returned in response. No additional field is returned by default. Possible values are:\u003cul\u003e\u003cli\u003ecategory - category as defined in the Update Center. A connection to the Update Center is needed\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to installed","content":{"application/json":{"schema":{}}}}}}},"/api/plugins/pending":{"get":{"responses":{"2XX":{"description":"Response to pending","content":{"application/json":{"schema":{}}}}}}},"/api/plugins/uninstall":{"post":{"parameters":[{"name":"key","in":"query","description":"The key identifying the plugin to uninstall","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to uninstall","content":{"application/json":{"schema":{}}}}}}},"/api/plugins/update":{"post":{"parameters":[{"name":"key","in":"query","description":"The key identifying the plugin to update","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to update","content":{"application/json":{"schema":{}}}}}}},"/api/plugins/updates":{"get":{"responses":{"2XX":{"description":"Response to updates","content":{"application/json":{"schema":{}}}}}}},"/api/project_analyses/create_event":{"post":{"parameters":[{"name":"analysis","in":"query","description":"Analysis key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"category","in":"query","description":"Category","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to create_event","content":{"application/json":{"schema":{}}}}}}},"/api/project_analyses/delete":{"post":{"parameters":[{"name":"analysis","in":"query","description":"Analysis key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to delete","content":{"application/json":{"schema":{}}}}}}},"/api/project_analyses/delete_event":{"post":{"parameters":[{"name":"event","in":"query","description":"Event key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to delete_event","content":{"application/json":{"schema":{}}}}}}},"/api/project_analyses/search":{"get":{"parameters":[{"name":"category","in":"query","description":"Event category. Filter analyses that have at least one event of the category specified.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Filter analyses created after the given date (inclusive). \u003cbr\u003eEither a date (server timezone) or datetime can be provided","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"p","in":"query","description":"1-based page number","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 500","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"to","in":"query","description":"Filter analyses created before the given date (inclusive). \u003cbr\u003eEither a date (server timezone) or datetime can be provided","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search","content":{"application/json":{"schema":{}}}}}}},"/api/project_analyses/update_event":{"post":{"parameters":[{"name":"event","in":"query","description":"Event key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"New name","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to update_event","content":{"application/json":{"schema":{}}}}}}},"/api/project_badges/measure":{"get":{"parameters":[{"name":"branch","in":"query","description":"Branch key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"metric","in":"query","description":"Metric key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project or application key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"token","in":"query","description":"Project badge token","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to measure","content":{"application/json":{"schema":{}}}}}}},"/api/project_badges/quality_gate":{"get":{"parameters":[{"name":"branch","in":"query","description":"Branch key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project or application key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"token","in":"query","description":"Project badge token","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to quality_gate","content":{"application/json":{"schema":{}}}}}}},"/api/project_badges/renew_token":{"post":{"parameters":[{"name":"project","in":"query","description":"Project or application key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to renew_token","content":{"application/json":{"schema":{}}}}}}},"/api/project_badges/token":{"get":{"parameters":[{"name":"project","in":"query","description":"Project or application key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to token","content":{"application/json":{"schema":{}}}}}}},"/api/project_branches/delete":{"post":{"parameters":[{"name":"branch","in":"query","description":"Branch key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to delete","content":{"application/json":{"schema":{}}}}}}},"/api/project_branches/list":{"get":{"parameters":[{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to list","content":{"application/json":{"schema":{}}}}}}},"/api/project_branches/rename":{"post":{"parameters":[{"name":"name","in":"query","description":"New name of the main branch","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to rename","content":{"application/json":{"schema":{}}}}}}},"/api/project_branches/set_automatic_deletion_protection":{"post":{"parameters":[{"name":"branch","in":"query","description":"Branch key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"value","in":"query","description":"Sets whether the branch should be protected from automatic deletion when it hasn't been analyzed for a set period of time.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_automatic_deletion_protection","content":{"application/json":{"schema":{}}}}}}},"/api/project_branches/set_main":{"post":{"parameters":[{"name":"branch","in":"query","description":"Branch key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set_main","content":{"application/json":{"schema":{}}}}}}},"/api/project_dump/export":{"post":{"parameters":[{"name":"key","in":"query","description":"","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to export","content":{"application/json":{"schema":{}}}}}}},"/api/project_dump/import":{"post":{"parameters":[{"name":"key","in":"query","description":"","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to import","content":{"application/json":{"schema":{}}}}}}},"/api/project_links/create":{"post":{"parameters":[{"name":"name","in":"query","description":"Link name","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectId","in":"query","description":"Project id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectKey","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"url","in":"query","description":"Link url","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to create","content":{"application/json":{"schema":{}}}}}}},"/api/project_links/delete":{"post":{"parameters":[{"name":"id","in":"query","description":"Link id","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to delete","content":{"application/json":{"schema":{}}}}}}},"/api/project_links/search":{"get":{"parameters":[{"name":"projectId","in":"query","description":"Project Id","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projectKey","in":"query","description":"Project Key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search","content":{"application/json":{"schema":{}}}}}}},"/api/project_pull_requests/delete":{"post":{"parameters":[{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"pullRequest","in":"query","description":"Pull request id","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to delete","content":{"application/json":{"schema":{}}}}}}},"/api/project_pull_requests/list":{"get":{"parameters":[{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to list","content":{"application/json":{"schema":{}}}}}}},"/api/project_tags/search":{"get":{"parameters":[{"name":"p","in":"query","description":"1-based page number","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"ps","in":"query","description":"Page size. Must be greater than 0 and less or equal than 100","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Limit search to tags that contain the supplied string.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to search","content":{"application/json":{"schema":{}}}}}}},"/api/project_tags/set":{"post":{"parameters":[{"name":"project","in":"query","description":"Project key","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"tags","in":"query","description":"Comma-separated list of tags","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to set","content":{"application/json":{"schema":{}}}}}}},"/api/projects/bulk_delete":{"post":{"parameters":[{"name":"analyzedBefore","in":"query","description":"Filter the projects for which last analysis of any branch is older than the given date (exclusive).\u003cbr\u003e Either a date (server timezone) or datetime can be provided.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"onProvisionedOnly","in":"query","description":"Filter the projects that are provisioned","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"projects","in":"query","description":"Comma-separated list of project keys","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Limit to: \u003cul\u003e\u003cli\u003ecomponent names that contain the supplied string\u003c/li\u003e\u003cli\u003ecomponent keys that contain the supplied string\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"qualifiers","in":"query","description":"Comma-separated list of component qualifiers. Filter the results with the specified qualifiers","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"2XX":{"description":"Response to bulk_delete","content":{"application/json":{"schema":{}}}}}}},"/api/projects/create":{"post":{"parameters":[{"name":"mainBranch","in":"query","description":"Key of the main branch of the project. If not provided, the default main branch key will be used.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Name of the project. If name is longer than 500, it is abbreviated.","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newCodeDefinitionType","in":"query","description":"Project New Code Definition Type\u003cbr/\u003eNew code definitions of the following types are allowed:\u003cul\u003e\u003cli\u003ePREVIOUS_VERSION\u003c/li\u003e\u003cli\u003eNUMBER_OF_DAYS\u003c/li\u003e\u003cli\u003eREFERENCE_BRANCH - will default to the main branch.\u003c/li\u003e\u003c/ul\u003e","allowEmptyValue":true,"schema":{"type":"string"}},{"name":"newCodeDefinitionValue","in":"query","description":"Project New Code Definition Value\u003cbr/\u003eFor each new
[...]
